{% assign schema = page.schema | default: site.schema %}
{% assign department_fields = site.data.schemas[schema].department_fields %}
{% assign department_system_fields = "title|description|logo" | split: "|" %}
{% assign departments = site.collections | where: "label", "departments" | first %}
<form data-component="form"
  data-file-dir="src/{{ departments.relative_directory }}"
  data-render-dir="departments"
  {% if include.department %}
    data-file-path="src/{{ include.department.path }}"
    data-render-path="{{ include.department.url }}"
  {% endif %}>
  <input type="hidden" id="schema" name="schema" value="{{ schema }}">

  <fieldset>
    {% for field in department_fields %}
      {% assign template = field.form_template | default: "form/text.html" %}
      {% assign field_name = field.field_name %}
      {% assign value = include.department[field_name] %}
      {% include {{ template }} field=field field_name=field_name value=value %}
    {% endfor %}
  </fieldset>

  <button type="submit" class="btn btn-primary">Submit</button>
  {% if include.department %}
    <button class="btn btn-danger" data-component="delete-page-button"
        data-file-path="src/{{ include.department.path }}">
      <i class="fa fa-trash"></i> Delete department
    </button>
  {% endif %}
</form>
