<!-- general behavior -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/dist/bundle.js"></script>

<footer>

    <div class="row main-footer-container">

        <div class="col-sm-6 right-footer-col">
          <ul class="link-list">
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Get Started</a></li>
            <li><a href="#">Performance & Analytics Dept.</a></li>
          </ul>
        </div>

        <div class="col-sm-6 left-footer-col">
          <ul class="social-link-list">
            <li>
                <a href="https://twitter.com/CityofSanDiego" target="_blank" title="City of San Diego Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="http://opendata.stackexchange.com/search?q=san+diego" target="_blank" title="Open Data Stack Exchange">
                    <i class="fa fa-stack-overflow"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/cityofsandiego" target="_blank" title="City of San Diego Github">
                    <i class="fa fa-github-alt"></i>
                </a>
            </li>
          </ul>
        </div>

    </div>

    <div id="footer-bar">
        <div class="row">
            <div class="col-md-12">
                <a href="https://github.com/cityofsandiego/seaboard" target="_blank" title="Code">Crafted</a>
                <strike>contracted</strike> with <i class="fa fa-heartbeat"></i>, just like San Diego's <i class="fa fa-beer"></i> by <a href="http://www.sandiego.gov/pad" target="_blank">Performance & Analytics.</a>
            </div>
        </div>
    </div>

</footer>
