<!-- general behavior -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/dist/bundle.js"></script>

<footer>

    <div class="row main-footer-container">

        <div class="col-sm-6 right-footer-col">
          <ul class="link-list">
            <li><a href="/stories">Blog</a></li>
            <li><a href="/get-started">Get started</a></li>
            <li><a href="http://sandiego.gov/pad" target="_blank">PandA</a></li>
            <li><a href="http://dockets.sandiego.gov/sirepub/view.aspx?cabinet=published_meetings&fileid=757846"
                    target="_blank">Open data policy</a></li>
            <li><a href="http://tiny.cc/odreport16"
                    target="_blank">Latest council update</a></li>
            <li><a href="/open-source">Open source</a></li>
            <li><a href="/resources">Resources</a></li>

          </ul>
        </div>

        <div class="col-sm-6 left-footer-col">
          <ul class="social-link-list">
            <li>
                <a href="https://twitter.com/CityofSanDiego" target="_blank" title="City of San Diego Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="http://opendata.stackexchange.com/search?q=san+diego" target="_blank" title="Open Data Stack Exchange">
                    <i class="fa fa-stack-overflow"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/cityofsandiego" target="_blank" title="City of San Diego Github">
                    <i class="fa fa-github-alt"></i>
                </a>
            </li>
          </ul>
        </div>

    </div>

    <div id="footer-bar">
        <div class="row">
            <div class="col-md-12">
                <a href="https://github.com/cityofsandiego/seaboard" target="_blank" title="NOT contracted">Crafted</a>
                 with <i class="fa fa-heartbeat"></i>, just like San Diego's <i class="fa fa-beer"></i> by <a
                     href="http://www.sandiego.gov/pad" target="_blank">PandA</a>
            </div>
        </div>
    </div>

</footer>
