<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">

  {% capture pg_description %}
  {% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}
  {% endcapture %}

  {% capture pg_img %}
    {% if page.thumbnail %}
        {{ page.thumbnail }}
    {% else %}
        {{ site.share_img }}
    {% endif %}
  {% endcapture %}

  <meta name="description" content="{{ pg_description }}">
  <meta name="theme-color" content="#37424a">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ site.title }}">
    <meta itemprop="description" content="{{ pg_description }}">
    <meta itemprop="image" content="{{ pg_img }}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="{{ pg_img }}">
    <meta name="twitter:site" content="@MrMaksimize">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ pg_description }}">
    <meta name="twitter:creator" content="@MrMaksimize">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="{{ pg_description }}">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.base_url }}" />
    <meta property="og:image" content="{{ pg_img }}" />
    <meta property="og:description" content="{{ pg_description }}" />
    <meta property="og:site_name" content="{{ site.title }}" />

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

 <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
 <link rel='shortcut icon' type='image/x-icon' href='{{ site.baseurl }}/assets/img/favicon.ico' />
 <link rel="manifest" href="/manifest.json">
 <link href="{{ site.baseurl }}/feed.xml" type="application/rss+xml" rel="alternate" title="Latest stories (atom)" />
 <script>
   var settings = {
     BASE_URL: {{ site.baseurl | jsonify }},
     PAGE_URL: {{ page.url | jsonify }},
     REPO_BRANCH: {{ site.github.repo_branch | jsonify }},
     REPO_OWNER: {{ site.github.owner_name | jsonify }},
     REPO_ORG: {{ site.github.repo_org | jsonify }},
     REPO_NAME: {{ site.github.project_title | jsonify }},
     NEEK_PROJECT_ID: {{ site.neek_project_id | jsonify }},
     NEEK_WKEY: {{ site.neek_wkey | jsonify }}
    }
 </script>


    <!--
      Fast bootstrapping of the webcomponents-lite library. Only loads the library
      if the browser doesn't natively support web components.
    -->
    <script type="text/javascript">
    (function() {
      'use strict';

      var onload = function() {
        // For native Imports, manually fire WebComponentsReady so user code
        // can use the same code path for native and polyfill'd imports.
        if (!window.HTMLImports) {
          document.dispatchEvent(
            new CustomEvent('WebComponentsReady', {bubbles: true})
          );
        }
      };

      var webComponentsSupported = (
        'registerElement' in document && 'import' in document.createElement('link') && 'content' in document.createElement('template')
      );

      if (!webComponentsSupported) {
        var script = document.createElement('script');
        script.async = true;
        script.src = '{{ site.baseurl }}/assets/bower_components/webcomponentsjs/webcomponents-lite.min.js';
        script.onload = onload;
        document.head.appendChild(script);
      } else {
        onload();
      }

      // Keen alias hack.
      window.aliasKeen = function() {
          var KeenFull = window.Keen;
          window.KeenFull = KeenFull;
      }

      var loadElement = function(url) {
        var link = document.createElement('link')
        link.rel = "import";
        link.href = url;
        document.head.appendChild(link);
      }



      document.addEventListener('DOMContentLoaded', function(e) {
          // Conditionally lazy-load elements based on page
          var lazy_els = {
              'paper-autocomplete': "{{site.baseurl}}/assets/bower_components/paper-autocomplete/paper-autocomplete.html",
              'px-spinner': "{{site.baseurl}}/assets/bower_components/px-spinner/px-spinner.html",
              'px-data-table': "{{site.baseurl}}/assets/bower_components/px-data-table/px-data-table.html",
              'paper-button': "{{site.baseurl}}/assets/bower_components/paper-button/paper-button.html"
          }
          if (settings.PAGE_URL == '/') {
            loadElement(lazy_els['paper-autocomplete']);
          }
          else if (settings.PAGE_URL.includes('dataset')) {
            loadElement(lazy_els['px-spinner']);
            loadElement(lazy_els['px-data-table']);
            loadElement(lazy_els['paper-button']);
          }
          else {
            for (var i in lazy_els) {
                console.log(i);
            }
          }
      })
    })();
    </script>

    <!-- Elements we always need to have -->
   <link rel="import" href="{{site.baseurl}}/assets/bower_components/polymer/polymer-micro.html">
   <link rel="import" href="{{site.baseurl}}/assets/bower_components/iron-ajax/iron-ajax.html">

   <!-- Conditionally Load Elements directly, based on page -->
   {% if page.url == '/' %}
       <link rel="import" href="{{site.baseurl}}/assets/bower_components/paper-autocomplete/paper-autocomplete.html">
   {% elsif page.url contains 'dataset' %}
        <link rel="import" href="{{site.baseurl}}/assets/bower_components/px-spinner/px-spinner.html">
        <link rel="import" href="{{site.baseurl}}/assets/bower_components/px-data-table/px-data-table.html">
        <link rel="import" href="{{site.baseurl}}/assets/bower_components/paper-button/paper-button.html">
   {% endif %}




  <!-- build:css /assets/stylesheets/vendor.min.css -->
  <!-- endbuild -->
  <!-- build:css /assets/stylesheets/style.min.css -->
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
  <!-- endbuild -->


    <script async type="text/javascript" src="{{ site.baseurl }}/assets/bower_components/keen-js/dist/keen.min.js", onload="aliasKeen()"></script>
    {% if site.neek.enabled %}
    <script defer type="text/javascript">
        function
        createKeenWebAutoCollector(){window.keenWebAutoCollector=window.KeenWebAutoCollector.create({projectId:'{{ site.neek_project_id }}',writeKey:'{{ site.neek_wkey }}',onloadCallbacks:window.keenWebAutoCollector.onloadCallbacks}),window.keenWebAutoCollector.loaded()}function initKeenWebAutoCollector(){window.keenWebAutoCollector.domReady()?window.createKeenWebAutoCollector():document.addEventListener("readystatechange",function(){window.keenWebAutoCollector.domReady()&&window.createKeenWebAutoCollector()})}window.keenWebAutoCollector={onloadCallbacks:[],onload:function(a){this.onloadCallbacks.push(a)},domReady:function(){return["ready","complete"].indexOf(document.readyState)>-1}};
      </script>
      <script defer type="text/javascript"
src="https://d26b395fwzu5fz.cloudfront.net/keen-web-autocollector-1.0.7.min.js"
onload="initKeenWebAutoCollector()"></script>
  {% endif %}
  {% if site.google_gtm.enabled == true %}
    <!-- Google GTM -->
    {% include addons/gtm-head.html %}
  {% endif %}


  {% if site.opengraph.enabled == true %}
    <!-- Open Graph -->
    {% include addons/opengraph.html %}
  {% endif %}

  {% if site.twittercard.enabled == true %}
    <!-- Twittercard -->
    {% include addons/twittercard.html %}
  {% endif %}





</head>
