<div class="col-sm-{{ include.col-sm }} col-md-{{ include.col-md }} iframe-embed">
    {% if include.title %}
        <h4 class="embed_title">{{ include.title }}</h4>
    {% endif %}
    {% assign height = include.height | default: "520" %}
    <iframe
            class="story-embed"
            width='100%'
            height="{{ height }}"
            frameborder='0'
            src='{{ include.url }}'
            allowfullscreen
            webkitallowfullscreen
            mozallowfullscreen
            oallowfullscreen
            msallowfullscreen>
    </iframe>
</div>
