/** Assists **/

@mixin merriweather {
  font-family: "Merriweather",Helvetica, Arial, sans-serif;
}

@mixin opensans{
  font-family: "Open Sans",Helvetica, Arial, sans-serif;
}

@mixin sourcesans{
  font-family: "Source Sans Pro", sans-serif;
}


/* Mixin */
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Classic Pallete */
/*http://take.ms/7Sv5Z*/

$off_white: #f6f6f6;
$table_dark: #E4E9EB;
$table_light: transparent;

$trans_light: rgba(0,0,0,0.35);
$trans_dark: rgba(0,0,0,0.5);

$bg_opacity: 0.95;

$footer_dark: #21282d;

$p_blue: #0098db;
$p_green: #00c7b2;
$p_orange: #ffa02f;
$p_yellow: #fce281;
$p_white: #000000;
$p_black: #37424a;
$p_beige: #dad7cb;

$s_black_dk: #1b242a;
$s_black_mid: #5d676f;
$s_black_lt: #d1d4d3;

$s_beige_dk: #bdb1a6;
$s_beige_mid: #cac0b6;
$s_beige_lt: #dad7cb;

$s_gray_dk: #747678;
$s_gray_mid: #adafaf;
$s_gray_lt: #e0e1dd;

$s_blue_dk: #00549f;
$s_blue_mid: #005bbb;
$s_blue_lt: #5eb6e4;

$s_green_dk: #007b69;
$s_green_mid: #009581;
$s_green_lt: #80e0d3;

$s_orange_dk: #9c6114;
$s_orange_mid: #d47600;
$s_orange_lt: #ffb652;

$s_yellow_dk: #d7a900;
$s_yellow_mid: #fed100;
$s_yellow_lt: #f3ec7a;

$white: white;
$nav_strip_blue: #005bbb;

$table_stripes: #f6f8fd;
$table_rules: #d1d4d3;



/** End Assists **/

body {
  @include sourcesans;
  font-size: 1.7em;
  //#overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  @include sourcesans;
  font-weight: bold;
  a {
    color: $s_blue_mid;
  }
}

/** Navbar **/
img.logo {
  background: $p_black;
  height: 40px;
}

.panel {
  border-radius: 0px;
}

#sd-bar {
  @include sourcesans;
  letter-spacing: 0.2px;
  background-color: $s_gray_lt;
  min-height: 0;
  margin-bottom: 0px;
  height: 34px;
  color: $p_black;
  a {
      color: $p_black;
      font-size: 0.85em;
      font-weight: 400;
      line-height: 34px;

    &:visited {
      color: $p_black;
      background-color: $s_gray_lt;
    }
    &:hover {
      color: $p_black;
      background-color: #s_gray_lt;
    }
  }

}

.sd-navbar-top.navbar-default {
  margin-top: 33.4px;
  background-color: $p_black;
  margin-bottom: 0px;

  .navbar-header {
    margin-top: 0px;
    height:50px;
    width: 100%;
  }
  .navbar-brand {
    padding: 0px;
    padding-top:5px;
    color: $s_gray_mid;
    float: right;
    padding-right: 15px;
  }
  span#title {
    position: relative;
    top: 34px - 24.7px;
    font-size: 1.3em;
    font-weight: 400;
  }

  .navbar-collapse {
    background: $p_black;
    width: 100%;
  }

  li.active {
    a {
      &:hover {
        background-color: $p_black;
      }
    }

  }

  li a {
    color: $s_gray_lt;
    font-size: 1em;
    display: inline-block;
    font-weight: 700;

    &:visited {
      color: $s_gray_lt;
      background-color: $p_black;
    }
    &:hover {
      color: $s_gray_lt;
      text-decoration: underline;
      background-color: $p_black;
    }

  }

  .container {
    padding-right: 0px;
    padding-left: 0px;
  }
}

#footer-bar {
  @include sourcesans;
  letter-spacing: 0.2px;
  background: $s_gray_lt;
  font-size: 0.85em;
  line-height: 34px;
  height:34px;
  position: fixed;
  bottom:0px;
  z-index: 9999999;
  opacity: 0.99;
  border-radius: 0px;
  text-align: center;
  line-height: 30px;
  padding-left:10px;
  padding-right:10px;
  width: 100%;
  color: $p_black;
  a {
      color: $p_black;
    &:visited {
      color: $p_black;
    }
    &:hover {
      color: $p_black;
    }
  }

}

.btn-secondary {
  background: $p_orange;
  color: white;
}

/*responsive menu */
.navbar-default .navbar-toggle {
  border-color: rgba(0, 0, 0, 0);
  top:50px - 37px - 5px;
}
.navbar-toggle {
    background-color: rgba(0, 0, 0, 0);
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  margin-right: 5px;
  float: left;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #334A6D;
}
.navbar-toggle .icon-bar { height: 3px; }
.navbar-default .navbar-toggle .icon-bar {
  background-color: $s_gray_lt;
}

a .hidden-link-text {
  display: none;
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  #footer-bar {
      height: inherit;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .jumbo-intro{
    padding-bottom:0px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .jumbo-intro{
    padding-bottom:0px;
  }
  .sd-navbar-top.navbar-default {
    .navbar-header {
      width: auto;
      float: right;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  #footer-bar {
    height: 30px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  #footer-bar {
    height: 30px;
  }
}

