/*
The main SCSS file for everything, yep
*/
@import "bootstrap";
@import "font-awesome/font-awesome";
@import "source_sans";
@import "syntax";
@import "main";
@import "sd";

/* General */

body {

    color: $p_black;
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.55;
    background-color: #ffffff;

	a {
		color: $s_blue_mid;
		text-decoration: none;
		font-weight: 700;

	    	&:hover {
	    		color: $p_blue;
	    		text-decoration: underline;
	    	}

	    	&:visited {
	    		color: $s_blue_mid;
	    		text-decoration: none;
	    	}
	}


}

p {
	margin: 0 0 1.3em;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 35px;
	margin-bottom: 15px;
}

.breadcrumb>.active {
	color: $s_gray_dk;
}

.label-default{
	background-color: $s_gray_dk;
}

span.badge {
	background: $s_gray_dk;
}

.breadcrumb {

	background-color: $s_gray_lt;

	a {
		color: $s_blue_mid;
		text-decoration: none;

	    	&:hover {
	    		color: $p_blue;
	    		text-decoration: underline;
	    	}

	    	&:visited {
	    		color: $s_blue_mid;
	    	}
	    }

}

.default-page-container {

	margin-top: 130px;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: $p_black;
}



/* Front page */

.front-page-container {
	margin-top: 84.4px;
}

.data-search {
	background-color: $s_blue_dk;
	position: relative;
	color: $s_gray_lt;
        height: 300px;
        .find-data-autocomplete {
            @include vertical-align
        }
}
.find-data-icon {
    position: absolute;
    right: 35px;
    bottom: 15px;
}
.data-search-img-layer {
    height:  300px;
    background: black;
    @include vertical-align;
}

.data-search-box-layer {
	position: relative;
	float: right;
	height: 300px;
	width: 100%;
	margin-top: -300px;
	padding-left: 15px;
	padding-right: 15px;
}

.data-search-img-0 {
    background-image: url('/assets/img/front/midview-historical.png');
    background-size: auto 300px;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.3;
}

.data-search-img-1 {
    background-image: url('/assets/img/front/midview-historical.png');
    background-size: auto 300px;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.3;
}

.data-search-img-2 {
    background-image: url('/assets/img/front/midview-historical.png');
    background-size: auto 300px;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.3;
}



.data-search-color-layer {
    height: 300px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.the-latest {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 0.9em;
	background-color: $s_gray_lt;
}

.resources-promo {
	background-color: white;

	.resources-container {

		position: relative;

		.resources-col {
			position: relative;
			height: 180px;
			border-radius: 3px;
			box-shadow: 0 0 30px 6px rgba(31,51,73,.1)!important;
			transition: box-shadow .125s;

			a {
				&:hover {
					text-decoration: none;
				}
			}

			.resources-box {

				/*background: linear-gradient(rgba(86,164,148,1), $s_green_mid, $s_green_mid, rgba(86,164,148,1));*/
				height: 180px;
				width: 100%;
				font-size: 1em;
				text-align: center;
				font-weight: 700;
				position: absolute;
				top: 0px;
				left: 0px;

				.resources-links {
					@include vertical-align;

					p {
						text-align: center;
						line-height: 1;
						padding: 0;
						margin: 0;
					}

					.resources-rule {
						border-bottom: 1px solid $s_gray_dk;
						width: 50px;
						height: 1px;
						margin-top: 10px;
						margin-bottom: 10px;
						margin-right: auto;
						margin-left: auto;
					}

				}

				
			}

			.resources-lbl {
				position: absolute;
				left: 50%;
			}

			.lbl-style-2 {
				border-radius: 9999px;
				top: -40px;
				width: 80px;
				height: 80px;
				margin-left: -40px;
				color: $p_black;
				position: relative;
				background-color: $s_gray_lt;

				p {
					@include vertical-align;
					line-height: 1;
					margin:0;
					text-align: center;
					font-weight: 700;
				}

				div, span {
					width: 80px;
					height: 80px;
					top: 0;
					left: 0;
					position: absolute;
					/* color: #f5f6f4;
					color: #ececea;
					color: #eff0ee; */
				}

				span.fa-comment-o {
					width: 60px;
					height: 60px;
					top: 10px;
					left: 10px;
					position: absolute;
					font-size: 60px;
					color: $white;
				}

				span.fa-question {
					width: 60px;
					height: 60px;
					top: 10px;
					left: 20px;
					position: absolute;
					font-size: 60px;
					color: $white;
				}

				.brain-icon {
					background: url('/assets/img/brain-icon-01.png') no-repeat;
					background-size: 60px;
					background-position: center;
				}


			}

			.lbl-style-3 {
				border-radius: 9999px;
				top: -40px;
				width: 80px;
				height: 80px;
				margin-left: -40px;
				color: $white;
				position: relative;
				background-color: $s_green_mid;

				p {
					@include vertical-align;
					line-height: 1;
					margin:0;
					text-align: center;
					font-weight: 400;
				}

				div, span {
					width: 80px;
					height: 80px;
					top: 0;
					left: 0;
					position: absolute;
					/* color: #f5f6f4;
					color: #ececea;
					color: #eff0ee; */
				}

				span.fa-comments-o {
					width: 60px;
					height: 60px;
					top: 10px;
					left: 10px;
					position: absolute;
					font-size: 60px;
					color: $white;
					opacity: 0.3;
				}

				span.fa-question {
					width: 60px;
					height: 60px;
					top: 10px;
					left: 20px;
					position: absolute;
					font-size: 60px;
					color: $white;
					opacity: 0.3;
				}

				.brain-icon {
					background: url('/assets/img/brain-icon-01.png') no-repeat;
					background-size: 60px 60px;
					background-position: center;
					opacity: 0.3;
				}


			}
			
		}

		.resources-col:hover {
			box-shadow: 0 0 30px 6px rgba(31,51,73,.25)!important;
		}

	}

	

	.col-sm-3:last-child {
		margin-bottom: 0px;
	}

}

.trends-rail {
	padding-top: 7.2857px;
}

.latest-rail {

	.latest-rail-item {
		display: block;

		div {
			display: inline-block;
		}

		.fa {
				font-size: 0.85em;
				color: $s_gray_dk;
			}

		.rail-spacer {
			visibility: hidden;
			padding: 0px 0px 0 0px;
		}
	}

	#poseidon-yesterday-count, #poseidon-yesterday-size {
		font-weight: bold;
	}


}

.made-data {
	background-color: #f7f6f5;
}

.data-search, .resources-promo, .made-data {

	padding-bottom: 60px;

	h2 {
		margin-bottom: 15px;
	}
}

.data-search, .made-data {
	padding-top: 30px;
}

.resources-promo {
	padding-top: 70px;
}

.paper-input-container-0 {
	.input-content {
		.paper-input-container {
			.paper-input {
				color: $s_gray_lt;
				@include merriweather;
			}
		}
	}

	.unfocused-line.paper-input-container, .focused-line.paper-input-container {
		border-bottom: 1px solid $s_gray_lt;
	}

}

.paper-autocomplete-suggestions-0 {

	@include merriweather;

	.autocomplete-suggestions-type {
		font-weight: 700;
		font-size: 0.75em;
		text-transform: uppercase;
		color: $s_gray_mid;
		padding-right: 10px;
	}

	.autocomplete-suggestions-result {
		color: $p_black;
	}
}


.trend-preview-container {

	margin-bottom: 60px;

    .preview-text {

    	h5 {
    		font-size: 0.8em;
    		font-weight: 700;
    		text-transform: uppercase;
    		@include sourcesans;
    	}

    	.preview-desc {
    		font-size: 0.9em;
    		@include merriweather;
    	}

    }


}

.trend-link {

    display: block;
    padding: 4px;
    margin-bottom: 21px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 0;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;

    img {
        width: 100%
    }
}

.main-footer-container {
    background: $p_black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $s_gray_lt;
    margin-bottom: 30px;
    margin-left:0px;
    margin-right:0px;

    a {
        color: $s_gray_lt;
        text-decoration: none;
        font-size: 0.8em;
        font-weight: 400;

        &:hover {
        	text-decoration: underline;
        	color: $s_gray_lt;
        }

        &:visited {
        	color: $s_gray_lt;
        }

        i {
        	font-size: 1.5em;
        	padding-bottom: 10px;
        	line-height: 1;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        text-align: center;

        li {
        	padding: 0;
        	margin: 0;
        }
    }
}

/* Dataset page */

.dataset-main {

	h1, h2, h3, h4, h5, table {
		@include sourcesans;
		margin-bottom: 15px;
	}

	p, ul, ol {
		@include merriweather;
		font-size: 0.9em;
	}

	p.dataset-preview-msg {
		font-size: 12px;
	}

	.preview-resource-title {
		margin-top: 30px;
	}

	.el-margin {
    	margin-bottom: 60px;
    }
}

table a:not(.btn),.table a:not(.btn){text-decoration:none}

th {
	text-transform: uppercase;
	color: $s_gray_dk;
	font-size: 0.85em;
}

.table-content-centered {
	text-align: center;
}

.resource-table-button {
    padding: 0px;
    min-width:1em;
    min-height:1em;
    border-radius: 50%;
    color: #00549f;

    .preview-check {
		width: 14px;
		height: 14px;
		background-color: $s_gray_lt;
		border: 2px solid $s_gray_dk;
		border-radius: 50%;
		color: $s_gray_mid;

		.fa-check-circle-o {
			width: 0px;
			height: 0px;
			display: none;
		}

	}

}

div.resource-type {
  text-align: center;
}
span.resource-format {
}

.help-tip{
    text-align: center;
    cursor: pointer;
    text-decoration: underline !important;
    font-weight: normal;
}

.help-tip:hover {
	font-weight: bold;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    font-weight: normal;
    display: none;
    text-align: left;
    background-color: $s_gray_lt;
    padding: 15px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    left: 60%;
    margin-top: -20px;
    color: $p_black;
    font-size: 0.8em;
    line-height: 1.4;
    z-index: 9999999999;
    opacity: 0.95;
    @include sourcesans;
}

.help-tip p a, .help-tip p a:visited {
  color: $s_blue_dk;
}

.help-tip p a:hover {
	text-decoration: underline;
}

.help-tip p a:before {
  font-weight: bold;
  color: $s_blue_dk;
}


.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

.paper-button-0 {
	min-width: initial;
}

.resource-table-button[toggles][active]{

	.preview-check {
		background-color: $white;
		color: $s_blue_dk;
		border: 0px;

		&:hover {
			color: $s_blue_mid;
		}

		.fa-check-circle-o {
			width: 17px;
			height: 17px;
			display: block;
			line-height: 1;
			padding: 0;
			margin-top: -0.5px;
			margin-left: -1px;
		}

	}
}

.resource-preview-loading-spinner {
	margin-left: auto;
    margin-right: auto;
}

.px-spinner-0 .spinner.px-spinner {
	border-left: 1.1em solid $s_blue_dk;
}

.aha-table-0 .columnChooser.aha-table {
	-webkit-flex-direction: initial;
	-ms-flex-direction: initial;
	flex-direction: initial;
}

.aha-table-0 .th.aha-table {
	text-transform: uppercase;
	color: $s_gray_dk;
	font-size: 0.85em;
	@include sourcesans;
	text-align: center;

}

.aha-table-0 .scroll-body.aha-table {
	margin-top: 30px;
}

.px-dropdown-text-0 {
	@include sourcesans;
	font-size: 0.85em;
	color: $s_blue_dk;
	font-weight: 700;
}

.aha-table-0 .tr--filter.aha-table,
.table-striped>tbody>tr:nth-of-type(odd),
.aha-table-0 .striped.aha-table:nth-child(even) {
	background-color: $table_stripes;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: 1px solid $table_rules;
}

.aha-table-0 .table.aha-table .td.aha-table, .aha-table-0 .table.aha-table .th.aha-table, .aha-table-0 .table.aha-table td.aha-table, .aha-table-0 .table.aha-table th.aha-table {
	border: 1px solid $table_rules;
}

.aha-table-0 .text-input.aha-table, .aha-table-0 select.aha-table, .aha-table-0 textarea.aha-table {
	border: 1px solid $table_rules;
	@include sourcesans;
}

.aha-table-0 .text-input.aha-table, .aha-table-0 textarea.aha-table {
	box-shadow: inset 0 0 0 1px $table_rules;
}

.px-dropdown-0 .dropcell.px-dropdown {
	background-color: $table_stripes;
	border: 1px solid $table_rules;
	border-radius: 0px;
}

.px-dropdown-0 .dropcell.px-dropdown:hover {
	background-color: $table_stripes;
	border: 1px solid $table_rules;
	border-radius: 0px;

	.px-dropdown-text-0 {
		color: $s_blue_lt;
	}

}

.px-data-table-cell-0 .ddviewing.px-data-table-cell, .px-data-table-cell-0 .viewing.px-data-table-cell {
	max-height: none;
}

.px-dropdown-chevron-0 iron-icon.px-dropdown-chevron {
	color: $s_blue_dk;
}

/* Datasets landing page */

.datasets-submenu {

	padding-right: 30px;

	.list-group {

		margin-bottom: 60px;

		a.list-group-item {
			color: $s_blue_dk;

			.list-group-item-truncate {
				font-size: 0.9em;
			}

			&:hover {

				color: $s_blue_lt;
				text-decoration: underline;

				.list-group-item-truncate {
					color: $s_blue_lt;
					text-decoration: underline;
				}

			}
		}
	}
}

.datasets-main-listing {
	padding-left: 30px;
}

dataset {

	padding-bottom: 40px;
	padding-top: 20px;

	h3 {
		a {
			&:hover {
				color: $s_blue_lt;
				text-decoration: underline;
			}
		}
	}
}

dataset:last-child {
		border-bottom: none;
	}

/* Departments landing page */

.department-listing {
	display: block;
	border-bottom: 1px solid #d6d6d6;
	padding-bottom: 40px;
	padding-top: 20px;

}

.department-page-details {
	padding-bottom: 40px;
}

/* Blog landing page */

.article-thumb {
	max-width: 480px;
	float: none;
	padding-left: 0px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.post-header a.title-link:hover {
    text-decoration: none;
}
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
}

.post-meta {
  font-size: 0.7em;
  color: $s_gray_dk;
  margin: 1em 0 0;
}

.datasd-article {
	border-bottom: 1px solid #d6d6d6;
	padding-bottom: 40px;
	padding-top: 20px;
}

/* Post pages */

.post-title {
	color: $p_black;
}

article.full-post {
        margin-left: 10%;
        margin-right: 10%;
	.post-meta {
		margin: 42px 0 30px 0;
	}

	section.share {

		font-size: 1.3em;
		line-height: 1;
		margin-bottom: 15px;

	}

	section.post-content {
		margin-bottom: 80px;

		p {
			img {
				max-width: 70%;
				margin-top: 40px;
				margin-bottom: 40px;
                                margin-left: 15%;
                                margin-right: 15%;
			}
		}
	}

}

.post-excerpt, .post-content {

	@include merriweather;
	font-size: 0.95em;

	ul {

		margin: 0 0 1em;

		li {
			margin: 0 0 0.5em;
		}
	}

	h4 {
		line-height: 2.3;
	}

	.iframe-embed {

		iframe.story-embed {
			margin: 60px 0 60px 0;
		}
	}
}

/* Pages */

.pages-main {

	h1, h2, h3, h4, h5, table {
		@include sourcesans;
		margin-bottom: 15px;
	}

	p, ul, ol {
		@include merriweather;
		font-size: 0.9em;
		margin: 0 0 1em;
	}

	h4 {
		line-height: 2.3;
		margin-top: 20px;
	}

	margin-bottom: 60px;


}

a.resources-page-link {
	@include sourcesans
}

.instruct-video {
	width: 100%;
	height: auto;
	margin-bottom: 40px;
	margin-top: 20px;
}


/* Everything else */

.homepage-categories .thumbnail img {
	height: 120px;
}

.page-header {
  font-weight: bold;
  color: $p_black;
  text-align: center;
  background: white;
  opacity: $bg_opacity;
  padding-top:55px;
  padding-bottom:55px;
  margin-bottom:0px;
  border-bottom:0px;
  font-size: 3em;

}

.section-header {
	padding-left:0px;
	padding-right:0px;
}

.fp-panel {
	i.text-primary {
		color: $p_green;
	}
	a.btn-go, a.btn-go:active, a.btn-go:hover {
		background: $p_orange;
		border-color: $p_orange;
	}
	padding-bottom:80px;
}


.panel {
	background: white;
	opacity: $bg_opacity;
}

.page.container {
	.page-content {
		background: white;
		opacity: $bg_opacity;
		padding:10px;
		margin-bottom:80px;
		padding-top:1px;
	}
}

.big-num {
	.panel-heading {
		background: transparent;
		border: 0px;
		font-size: 1em;
		color: white;
	}
	.chart-stage {
		font-size: 4em;
	}
	.chart-bottom {
		font-size: 0.9em;
	}
	background: $p_blue;
	color: white;
	font-weight: bold;
	font-size: 1em;
}

.process-wrapper {
	h2 {
		font-weight: bold;
		font-size:2.5em;
		color: $p_blue;
		margin-top:0px;
	}
	.arrow-next {
		color: $p_green;
	}
}

#inventory-table {
	background: transparent;
	padding:20px;
	font-size:0.8em;
	tr.light {
		background: $table_light;
	}
	tr.dark {
		background: $table_dark;
	}
	th {
		@include merriweather;
	}
}



.list-group-item.active {
	background: $p_blue;
}


.title-intro {
	background: transparent;
	color:black;
	position: relative;
	top:110px;

}

.add-dataset {
	margin-top:30px;
}

#inventory .panel-heading{
	background-image: url("http://take.ms/K0n7c");
}

#opensd .panel-heading{
	background-image: url("http://take.ms/GK1Gk");
}

#opengov .panel-heading {
	background-image: url("http://take.ms/WjYwC");
}

#sdmaps .panel-heading {
	background-image: url("http://take.ms/5AThk");
}

#odpolicy .panel-heading {
	background-image: url("http://mrm-screen.s3.amazonaws.com/14324-illustration-of-a-book-pv.png");
}

#councilupdate .panel-heading{
	background-image: url("http://take.ms/FJnAS");
}

#pasite {
	.panel-body {
		padding-top:13px;
	}
	.panel-heading {
		background-image: url("http://take.ms/bevC1");
	}
}


.fp-panel a, a:hover, a:visited {
	text-decoration: none;
}


.fp-panel .panel-heading {
	background-size: cover;
	background-position-x:50%;
	background-position-y: 100%;
	background-repeat: no-repeat;
	height: 250px;
	border: 0px;
	background-color:white;
	padding:0px;
}

.fp-panel .panel-body {
	background: $trans_dark;
	color:white;
	@include merriweather;
	padding: 5px;
	padding-left: 10px;
	position: relative;
	top: 125px;
	width:100%;
	border:0px;
	height: 125px;
	padding-top:25px;
}

.page-container {
	margin-top: 34px;
}



  .process-wrapper{
  padding:10px 0 10px 0;
  }



  .icon-front-center {
  	color:white;
  }

  .icon-circle-thin {
  	color: $p_blue;
  }

  .icon-circle {
  	color: $footer_dark;
  }

  #pre-footer-bar {
  	position: relative;
  	z-index: 9999999;
  	padding-left:10px;
  	padding-right:10px;
  	width: 100%;
  	padding-bottom:90px;
  }

 .fourbox-box {
    background: transparent;
    text-align: left;
    padding:30px;
    overflow: hidden;
    font-family: "Open Sans",Helvetica, Arial, sans-serif;
    border: 1px solid #cccccc;
    height:400px;
  }
  .fourbox-last {
    border-right:0px;
  }
  .fourbox-box h3 {
    margin-top:0px;
  }

  .inner-box h3 {
  	margin-top:0px;
  	font-family: "Open Sans",Helvetica, Arial, sans-serif;
  	font-size: 30px;
  	font-weight: bold;
  	color: #3b3b3b;
  }

  .inner-box h4 {
  	font-family: "Open Sans",Helvetica, Arial, sans-serif;
  	font-size: 20px;
  	margin-bottom:0px;
  }

  .inner-box {
  	text-align: left;
  }

  .outer-box {
  	background: transparent;
  	font-family: "Open Sans",Helvetica, Arial, sans-serif;
  }

  .cta-sub {
  	font-size:15px;
  }

  .top-row-box {
  	height: 150px;
  	border-right: 1px solid #cccccc;
  }

  #datasd-logo-box {
  	background: #0098db;
    /*margin-bottom:10px;
    text-align: center;
    padding-top:0px;
    padding-bottom:10px;*/
  }

  #datasd-logo-container {
  	margin-top: 20px;
  	margin-left: 15px;
  }

  #contact-bubble {
  	margin-left: 30px;
  	margin-top: 10px;
  }

  #mc_embed_signup h3 {
        margin-top: 20px;
    }

  #mc_embed_signup .inner-box {
  	background: #0098db;
  	height: 143px;

  }

  #cta-bottom-row {
  	height: 275px;
  	.inner-box {
  		border-right: 1px solid white;
  	}
  }

  h4.cta a {
  	font-weight: bold;
  	color: #00bbbc;
  }

  h4.bottom-box-head {
    color: white;
  }

  #contact-bubble .icon-circle-thin {
  	color: white !important;
  }



 /*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {


}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

	.trend-preview-container {
		margin-bottom: 0px;
	}
	.trends-rail {
		margin-bottom: 60px;
	}

	.main-footer-container {

		.right-footer-col {
			border-right: 1px dotted $s_gray_dk;
		}

		ul.link-list {
	    	text-align: right;
	    }

	    ul.social-link-list {
	    	text-align: left;
	    }

	}

	.latest-rail {

		.latest-rail-item {

			display: inline-block;

			.rail-spacer {
				visibility: visible;
				padding: 0px 20px 0 20px;
			}
		}
	}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 767px) {

	.sd-navbar-top.navbar-default .navbar-header {
		/*height:0px;*/
		/*float: right;*/
	}


        .resources-promo {
	 .col-sm-3 {
	 	margin-bottom: 0px;
	 }
	}

	.data-story-preview-container {
		margin-bottom: 0px;
	}
	.data-stories-rail {
		margin-bottom: 60px;
	}


	.trend-story-preview-container {

    .preview-text {

	      	h5 {
	    		font-size: 0.9em;
	    	}

	    	.preview-desc {
	    		font-size: 0.9em;
	    	}

	    }
	}

	.article-thumb {
		max-width: 250px;
		float: right;
		padding-left: 20px;
		padding-bottom: 20px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.page.container .page-content {
		padding:50px;
	}


	#datasd-logo-container {
		margin-top: -2px;
	}


}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	#header-image.small {
		background-position-x: center;
		background-position-y: -170px;
		background-size:cover;
	}
	#header-image {
		background-position-x: center;
		background-position-y: 0px;
	}
}

@media (max-width: 767px) {
    .find-data-icon {
        display: none
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}
