<div class="form-group">
  <label for="{{ include.field_name }}">{{ include.field.label }}</label>
  <div class="input-group">
    <select class="form-control" id="{{ include.field_name }}" name="{{ include.field_name }}">
      <option value="">{{ include.field.placeholder | default: "Select..." }}</option>
      {% for department in site.departments %}
        <option{% if include.value == department.title %} selected="selected"{% endif %}>{{ department.title }}</option>
      {% endfor %}
    </select>
    <span class="input-group-btn">
      <a href="{{ site.baseurl }}/add-department/" class="btn btn-default"><i class="fa fa-plus"></i></a>
    </span>
  </div>
</div>
