#https://circleci.com/docs/2.0/workflows/#using-workspaces-to-share-data-among-jobs

# The following stanza defines a map named defaults with a variable that may be inserted using the YAML merge (<<: *) key
# later in the file to save some typing. See http://yaml.org/type/merge.html for details.
defaults: &defaults
  working_directory: ~/seaboard
  docker:
    - image:  cityofsandiego/seaboard:latest

version: 2
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - run: curl -o- -L -k https://yarnpkg.com/install.sh | bash
      - run: yarn cache clean
      - run: yarn install --force
      - run: bundle install
      - run: npm run build
      - run: npm run publish
      - persist_to_workspace:
          root: .
          paths:
            - site
            - node_modules


  deploy:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: ls
      - run: bundle install
      - run: s3_website push



workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: production



