<div class="row outer-wrapper container vertical-section cta-box">
    <div id="" class="col-sm-6 col-md-3 inner-box top-row-box">
        <h3>Get Started</h3>
        <h4 class="cta">
            <a class="cta-link" href="{{ site.baseurl }}/get-started" target="_blank" title="Learn how to use the portal">LEARN</a>
            <span class="cta-sub">how to use the portal</span>
        </h4>
        <h4 class="cta">
            <a class="cta-link" href="{{ site.baseurl }}/datasets" target="_blank" title="Browse the datasets">BROWSE</a>
            <span class="cta-sub">the datasets</span>
        </h4>
        <h4 class="cta">
            <a class="cta-link" href="http://data.sandiego.gov/stories" target="_blank" title="Read data stories">READ</a>
            <span class="cta-sub">data stories</span>
        </h4>
    </div>
    <div id="" class="col-sm-6 col-md-3 inner-box top-row-box">
        <h3>Hackers</h3>
        <h4 class="cta">
            <a class="cta-link" href="http://www.datasd.org/feature-your-work.html" title="Feature your work!" target="_blank">FEATURE</a>
            <span class="cta-sub">your projects</span>
        </h4>
        <h4 class="cta">
            <a class="cta-link" href="http://docs.getdkan.com/docs/dkan-documentation/dkan-api/datastore-api" title="Discover the data apis!" target="_blank">DISCOVER</a>
            <span class="cta-sub">the data APIs</span>
        </h4>
    </div>
    <div id="" class="col-sm-6 col-md-3 inner-box top-row-box">
        <h3>City Employees</h3>
        <h4 class="cta">
            <a class="cta-link" href="http://www.datasd.org/get-help-using-data.html" title="Get help using data!" target="_blank">GET HELP</a>
            <span class="cta-sub">using data</span>
        </h4>
        <h4 class="cta">
            <a class="cta-link" href="http://dockets.sandiego.gov/sirepub/view.aspx?cabinet=published_meetings&fileid=757846" title="Read the Open Data Policy" target="_blank">READ</a>
            <span class="cta-sub">the Open Data Policy</span>
        </h4>
    </div>
    <div id="" class="col-sm-6 col-md-3 inner-box">
        <h3>Residents</h3>
        <h4 class="cta">
            <a class="cta-link" href="https://budget.sandiego.gov/transparency" title="View the City's Budget" target="_blank">VIEW</a>
            <span class="cta-sub">the city's budget</span>
        <h4>
        <h4 class="cta">
            <a class="cta-link" href="http://www.datasd.org/inventory" title="Vote on the data inventory" target="_blank">VOTE</a>
            <span class="cta-sub">on the data inventory</span>
        </h4>
    </div>
</div>
