<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  body {
        padding-top:0px;
        background: transparent;
  }

    #mc_embed_signup{
        background:transparent;
        font-size:14px;
        font-family: "Open Sans",Helvetica, Arial, sans-serif;
    }

    #mc_embed_signup form {
        padding-left: 0px;
        padding-top:15px;
    }
    #mc_embed_signup input.email {
        font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
        display: block;
        padding: 0 0.4em;
        margin: 0 4% 10px 0;
        min-height: 34px;
        height: 34px;
        width: 100%;
        min-width: 130px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #555555;
        border: 1px solid #ccc;
    }

    #mc_embed_signup .mc-field-group {
        padding-bottom:3px;
    }


    #mc-embedded-subscribe.button {
        background: #ffa02f;
        color: white;
    }
     #mc-embedded-subscribe.button:hover {
        background: #ffa02f;
        color: black;
    }

</style>

<div id="cta-bottom-row" class="row outer-wrapper">
    <div id="cta-box-bottom-left-container" class="col-sm-6 col-md-3 outer-box">
        <div id="mayor-box" class="col-sm-12 col-md-12 inner-box">
            <img src="http://mrm-screen.s3.amazonaws.com/mayor-box-01.png" width="100%" alt="Mayor Quote" title="Mayor Quote"/>
        </div>
    </div>
    <div id="cta-box-bottom-right-container" class="col-sm-12 col-md-9 outer-box">
        <div id="mc_embed_signup" class="col-sm-12 col-md-12 inner-box">
            <h3>Stay In Touch!</h3>
            <p class='cta-sub'>
                We're doing some pretty exciting things at the City.  See what we're up to by joining our mailing list, and checking out DataSD.org
            </p>
            <div id="datasd-logo-box" class="col-sm-12 col-md-4 inner-box">
                <h4 class="bottom-box-head">Learn more</h4>
                <div id="datasd-logo-container" class="col-md-12">
                    <a href="http://www.datasd.org" target="_blank" title="DataSD.org"><img alt="DataSD.org" src="http://take.ms/lGgzQ" width="70%"/></a>
                </div>
            </div>
            <div id="mc_embed_signup_box" class="col-sm-12 col-md-4 inner-box">
                <h4 class="bottom-box-head">Stay up to date</h4>
                <form action="//datasd.us11.list-manage.com/subscribe/post?u=d5c1acf555fe7841bd35c059c&amp;id=ae205d9a31" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                    <!--<label for="mce-EMAIL">Stay in touch with DataSD!</label>-->
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d5c1acf555fe7841bd35c059c_ae205d9a31" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
            </div>
            <div id="contact-box" class="col-sm-6 col-md-4 inner-box">
                <h4 class="bottom-box-head"> Tell us what you think </h4>
                <div class="col-md-12">
                    <a href="http://www.datasd.org/contact-datasd.html" target="_blank" title="Contact DataSD" class="col-md-12" id="contact-bubble">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-circle icon-circle fa-stack-2x"></i>
                            <i class="fa fa-circle-thin icon-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-comment fa-stack-1x icon-front-center"></i>
                        </span>
                        <span class="hidden-link-text">Contact Form</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>