<!DOCTYPE html>
<html prefix="dct: http://purl.org/dc/terms/
              rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
              dcat: http://www.w3.org/ns/dcat#
              foaf: http://xmlns.com/foaf/0.1/"
              lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"
              itemscope itemtype="http://schema.org/Article">

  {% include head.html %}

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
  <style>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,700');
  </style>

  <style>

  

</style>

  <body>
    {% if site.google_gtm.enabled == true %}
        <!-- Google GTM -->
        {% include addons/gtm-body.html %}
    {% endif %}

    {% include header.html %}

    <section data-hook="main" class="container default-page-container">
      {{ page.content}}
    </section>

    



<script defer src="{{ site.baseurl }}/assets/bower_components/jQuery/dist/jquery.min.js"></script>
<script defer src="{{ site.baseurl }}/assets/scripts/dist/bundle.js"></script>
<script defer src="{{ site.baseurl }}/assets/bower_components/bootstrap/js/collapse.js"></script>






{% include footer.html %}

  </body>

</html>