<html prefix="dct: http://purl.org/dc/terms/
              rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
              dcat: http://www.w3.org/ns/dcat#
              foaf: http://xmlns.com/foaf/0.1/">

  <head>


<!-- Bower Components -->
<script src="{{site.baseurl}}/assets/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
  <link rel="import" href="{{site.baseurl}}/assets/bower_components/polymer/polymer.html">
  <link rel="import" href="{{site.baseurl}}/assets/bower_components/px-data-table/px-data-table.html">
  <link rel="import" href="{{site.baseurl}}/assets/bower_components/iron-ajax/iron-ajax.html">
  <link rel="import" href="{{site.baseurl}}/assets/bower_components/px-theme/px-theme-styles.html">

</head>

  <body>

    <section data-hook="main" class="container default-page-container">

<template is="dom-bind">
        <iron-ajax
          auto
          url="https://8kf9rxn2x1.execute-api.us-east-1.amazonaws.com/dev/dataset/preview"
          handle-as="json"
          last-response="{% raw %}{{ jsondata }}{% endraw %}"
          debounce-duration="300"></iron-ajax>
        <px-data-table table-data="[[jsondata]]" striped="true" enable-column-reorder="true" enable-column-resize="true" hide-pagination-control="true"></px-data-table>
        </template>

    </section>


  </body>

</html>
