---
layout: default
---
{% include breadcrumbs.html parent="Departments" %}

<div data-component="view-switcher">
  <div class="row" data-hook="view" data-view="display">
    <div class="col-sm-12">
      <div class="row department-page-details">
        <div class="col-sm-12">
        <h2>
          {{ page.title }}
          <a href="?view=edit" class="pull-right btn btn-default admin-only">Edit</a>
        </h2>
        <p>{{ page.description }}</p>
        </div>
      </div>

      {% assign dataset_count = site.datasets | where:"department", department.title | size %}

      <div data-component="datasets-list" data-department="{{ page.title | slugify }}">
        <input type="text" data-hook="search-query" placeholder="Search..." class="form-control">
        <span class="badge">{{dataset_count}}</span>
        <div data-hook="datasets-items"></div>
      </div>
    </div>
  </div>

  <div class="row" data-hook="view" data-view="edit">
    <div class="col-sm-8 col-sm-offset-2">
      {% include department-form.html department=page %}
    </div>
    <div class="col-sm-2">
      <a href="{{ site.baseurl }}{{ page.url }}" class="btn btn-default pull-right">Cancel</a>
    </div>
  </div>
</div>
