<!DOCTYPE html>
<html prefix="dct: http://purl.org/dc/terms/
              rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
              dcat: http://www.w3.org/ns/dcat#
              foaf: http://xmlns.com/foaf/0.1/"
              lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"
              itemscope itemtype="http://schema.org/Article">

  {% include head.html %}

  <body>
    {% if site.google_gtm.enabled == true %}
        <!-- Google GTM -->
        {% include addons/gtm-body.html %}
    {% endif %}

    <nav id="sd-top-nav" class="sd-navbar-top navbar navbar-default navbar-alt navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <span id="logo">
              <img class="cosd-logo" src="/assets/img/cosdlogo_white.png" alt="City of San Diego">
            </span>
          </a>
        </div>
    </nav>

    <section data-hook="main" class="container default-page-container">
        <div class="row pages-main" data-hook="view" data-view="display">
            {% if page.logo and page.logo != empty %}
            <div class="col-sm-3">
                <a href="{{ page.logo }}" class="thumbnail"><img src="{{ page.logo }}" alt="{{ page.title }} logo"></a>
            </div>
            <div class="col-sm-9">
            {% else %}
            <div class="col-sm-12">
            {% endif %}
                <h1>
                {{ page.title }}
                </h1>
                {{ page.content}}
            </div>
        </div>
    </section>

    <script defer src="{{ site.baseurl }}/assets/bower_components/jQuery/dist/jquery.min.js"></script>
    <script defer src="{{ site.baseurl }}/assets/scripts/dist/bundle.js"></script>
    <script defer src="{{ site.baseurl }}/assets/bower_components/bootstrap/js/collapse.js"></script>


    <footer>
        <div id="footer-bar">
            <div class="row">
                <div class="col-md-12">
                    <a href="https://github.com/cityofsandiego/seaboard" target="_blank" rel="noopener" title="NOT contracted">Crafted</a>
                     with <i class="fa fa-heartbeat"></i>, just like San Diego's <i class="fa fa-beer"></i> by <a
                         href="http://www.sandiego.gov/pad" target="_blank" rel="noopener">PandA</a>
                </div>
            </div>
        </div>

        <!--
          Attempt to register a service worker with the correct scope. Fail quietly
          if this doesn't work, but log the result to the console.
        -->
        {% if site.env == 'prod' %}
        <script type="text/javascript">
          if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
              // Registration was successful
              console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }).catch(function(err) {
              // registration failed :(
              console.log('ServiceWorker registration failed: ', err);
            });
          }
        </script>
        {% endif %}
    </footer>

  </body>

</html>