---
layout: default
---
{% include breadcrumbs.html parent="Pages" %}

<div data-component="view-switcher">
  <div class="row" data-hook="view" data-view="display">
    {% if page.logo and page.logo != empty %}
    <div class="col-sm-3">
      <a href="{{ page.logo }}" class="thumbnail"><img src="{{ page.logo }}" alt="{{ page.title }} logo"></a>
    </div>
    <div class="col-sm-9">
    {% else %}
    <div class="col-sm-12">
    {% endif %}
      <h1>
        {{ page.title }}
        <a href="?view=edit" class="pull-right btn btn-default admin-only">Edit</a>
      </h1>
      {{ page.content}}
    </div>
  </div>

  <div class="row" data-hook="view" data-view="edit">
    <div class="col-sm-8 col-sm-offset-2">
      {% include page-form.html department=page %}
    </div>
    <div class="col-sm-2">
      <a href="{{ site.baseurl }}{{ page.url }}" class="btn btn-default pull-right">Cancel</a>
    </div>
  </div>
</div>
