/*
The main SCSS file for everything, yep
*/
@import "font-awesome/font-awesome";

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@mixin opensans {
  font-family: "Open Sans",Helvetica, Arial, sans-serif;
}


/* Mixin */
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Classic Pallete */

$p_blue: #0098db;
$p_green: #00c7b2;
$p_orange: #ffa02f;
$p_yellow: #fcd900;
$p_white: #ffffff;
$p_black: #37424a;
$p_beige: #dad7cb;

$s_black_dk: #1b242a;
$s_black_mid: #5d676f;
$s_black_lt: #d1d4d3;

$s_beige_dk: #bdb1a6;
$s_beige_mid: #cac0b6;
$s_beige_lt: #dad7cb;

$s_gray_dk: #747678;
$s_gray_mid: #adafaf;
$s_gray_lt: #e0e1dd;

$s_blue_dk: #00549f;
$s_blue_mid: #005bbb;
$s_blue_lt: #5eb6e4;

$s_green_dk: #007b69;
$s_green_mid: #009581;
$s_green_lt: #80e0d3;

$s_orange_dk: #9c6114;
$s_orange_mid: #d47600;
$s_orange_lt: #ffb652;

$s_yellow_dk: #d7a900;
$s_yellow_mid: #fed100;
$s_yellow_lt: #f3ec7a;


$table_rules: #d1d4d3;
$off_white: #f6f6f6;
$table_dark: #E4E9EB;
$table_light: transparent;

$trans_light: rgba(0,0,0,0.35);
$trans_dark: rgba(0,0,0,0.5);

$bg_opacity: 0.95;
$footer_dark: #21282d;


$enable-rounded: false;

$fp_back: rgba(202,192,182,0.1);
$fp_front: $p_black;
$primary: $s_blue_mid;
$secondary: $s_beige_mid;
$dark: $p_black;
$light: $fp_back;
$link-color: $dark;
$table_stripes: $fp_back;
$table-accent-bg: $fp_back;
$font-family-base: "Open Sans",Helvetica, Arial, sans-serif;
$line-height-base: 1.6;
$link-decoration: underline;

@import "bootstrap-4.4.1/scss/bootstrap";

body {
  width: 100%;
  height:100%;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  line-height:1.8;
}

/* Bootstrap class overrides */

.navbar, .filter-grid, .breadcrumb-item {
  a {
    text-decoration: none;
  }
}

.navbar-dark .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}

/* Branding */

.brand-contain {
  display:block;
  height: 3rem;
}

.navbar-brand-text {
  font-size: 2rem;
  line-height: 2rem;
  padding-top: 1rem;
  padding-left: 0.5rem;
  display: block;
  font-weight: 300;
  color: $fp_front;
}

.fp-logo-solid {
	float: left;
	svg {
    	height: 3rem;
    	width: auto;
    }
  }

.header-logo-solid {
	svg {
    	height: 2.6rem;
    	width: auto;
    }
    fill: $white;
  }

/* Jumbotron */

.dp-jumbotron {
  margin-bottom: 0;
  height: 100vh;
  padding: 0;
  background-color: $fp_back;
  color: $dark;

  .jumbotron-content-layer {
    width: 100%;
    height: 100%;
  }

  .dp-jumbotron-content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 33.33% 66.67%;
    grid-template-columns: none;
    
  }
  .intro-hed {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    place-self: end start;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .intro-block-contain {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    place-self: center start;
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight: 300;
  }
  
 }

.dp-jumbotron-searchbox {

	.btn, .form-control:focus {
		box-shadow: none;
	}

  .dp-jumbotron-input {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $dark;
    background-color: transparent;
    font-size: 1.5rem;
    color: $dark;
    line-height: 1;
    padding:0;
    opacity: 1;
    height: auto;
    font-weight: 300;
  }

  input:focus::placeholder {color: transparent; opacity:0;}
	input:focus::-webkit-input-placeholder { color:transparent; opacity:0;}
	input:focus:-moz-placeholder { color:transparent; opacity:0;}
	input:focus::-moz-placeholder { color:transparent; opacity:0;}
	input:focus:-ms-input-placeholder { color:transparent; opacity:0;}


  #searchSubmit {
  	color: $dark;
  }

  ::-webkit-input-placeholder { /* Edge */
    color: inherit;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: inherit;
  }

  ::placeholder {
    color: inherit;
    opacity: 1;
  }

}

div.dropdown-menu.search-dropdown {
  width: 100%;
  /* This is based on dropdown content */
  max-height: calc(33.33vh + 3px);
  overflow-y: auto;
  /* 0.75 + 0.75 + 1px */
  opacity: 0.95;
}

.default-page-container {

	margin-top: 3.55rem;

}

.default-page-display-header {
	padding-bottom: 40px;
	padding-top: 40px;
}

.filter-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: none;
    grid-row-gap: 1rem;
}

.filter-grid-cats {
	grid-row-start: 1;
	
}
.filter-grid-depts {
	grid-row-start: 2;

}
.filter-grid-search {
  grid-row-start: 3;

}

.list-group-item.active {
	/*background: $p_blue;*/
}

.datasets-count {
  display: inline-block;
}

dataset {

	padding-bottom: 40px;
	padding-top: 20px;
	display: block;
  	border-bottom: 1px $s_black_lt solid;

	p.item-date {
		font-style: italic;
		font-size: 0.9em;
	}

  h2 {
    a {
      text-decoration: none;
    }
  }
}

dataset:last-child {
		border-bottom: none;
}

#dataPreview {
  max-width: 100%;

  table {
    font-size: 0.85rem;
    td {
      white-space: nowrap;
    }
    td:last-child {
      width:100%;
    }
  }
}


/* Pages */


.instruct-video {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	padding-top: 0;
	margin-bottom: 40px;
	margin-top: 20px;


	iframe {
		position: absolute;
		top: 0;
		left: 0;
		max-width: 1170px;
		width: 100%;
		height: 100%;
	}

}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	
	.brand-contain {
		height: 6rem;
	}
	.navbar-brand-text {
	  font-size: 5rem;
	  line-height: 5rem;
	  padding-top: 1rem;
	  padding-left: 1rem;
	}
	.fp-logo-solid {
		svg {
	    	height: 5.5rem;
	    }
	  }
	
	.intro-block-contain {
		font-size: 1.5rem;
	}
	.dp-jumbotron-searchbox {

    	.dp-jumbotron-input {
    		font-size: 2rem;
    	}
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }