<!DOCTYPE html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {{ $style := resources.Get "scss/style.scss" | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  <script type="text/javascript">
    (function() {
      'use strict';

      document.addEventListener('DOMContentLoaded', function(e) {

        // Dropdown var for testing

        let ddHidden = true;

        $('#dropdownMenuParent').on('show.bs.dropdown', function () {
            ddHidden = false;
        }).on('hide.bs.dropdown', function () {
            ddHidden = true;
        });
        
        // Button event listener for search submit

        document.getElementById("searchSubmit").addEventListener("mousedown", (event) => {
          
          // When search button clicked, prevent default to avoid
          // moving focus and deactivating search
          // but submit the search

          event.preventDefault();
          searchSubmit();
        });

        // Keyboard event listener for search

        document.getElementById("searchQuery").addEventListener('keyup', (event) => {

          // Check if key pressed is enter
            if (event.keyCode === 13) {
              // If the dropdown is hidden, show it
                if (ddHidden) {
                  
                    $('#searchSubmit').dropdown('toggle');
                }
                // Either way, run the search
                searchSubmit();
            } else {
              // If key is any other, check to see if
              // user has backspaced input clear
              if (event.target.value === "") {
                // If so, check if dropdown is showing
                if (ddHidden === false) {
                  // If so, hide it
                  $('#searchSubmit').dropdown('toggle');
                }
              }
            }
        }, false);
          
      })
    })();
    </script>

    <link rel="import" href="{{ .Site.BaseURL }}assets/bower_components/polymer/polymer-micro.html">
   <link rel="import" href="{{ .Site.BaseURL }}assets/bower_components/iron-ajax/iron-ajax.html">

</head>
<html prefix="dct: http://purl.org/dc/terms/
              rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
              dcat: http://www.w3.org/ns/dcat#
              foaf: http://xmlns.com/foaf/0.1/">
    <body>
    {{ block "main" . }}{{ end }}
    {{ partial "footer" . }}
    </body>
</html>
