<!DOCTYPE html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {{ $style := resources.Get "scss/style.scss" | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

</head>
<html prefix="dct: http://purl.org/dc/terms/
              rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
              dcat: http://www.w3.org/ns/dcat#
              foaf: http://xmlns.com/foaf/0.1/">
    <body>
    {{ block "main" . }}{{ end }}
    {{ partial "footer" . }}
    </body>
</html>
