{{ define "main" }}
{{ partial "header" . }}
<div class="container default-page-container">
	<div class="row pt-4">
		<div class="col">
			{{ partial "breadcrumbs-new" . }}
		</div>
	</div>
	<div class="row">
	  <div class="col">
		 <h1 class="display-4 default-page-display-header">
		 	{{.Title}}
		 </h1> 
	  </div>
	</div>
	<div class="row">
		<div class="col">
			{{.Content}}
		</div>
	</div>
	<div class="row">
		<div class="col">
			{{ range .Pages }}
			<dataset>
			  <h2>
			  	<a href="{{ .RelPermalink }}">{{.Title}}</a>
			  </h2>
			  <p class="item-date"></p>				
			  <!-- Last modified: {{ .Params.date_modified }}<br></br> -->
              {{ $rangePages := len .Pages }}
              {{ $.Scratch.Set "counter" 0 }}
              {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}

			  Find {{.Title}} Department data:
			  {{ range first 4 .Pages }}
                    {{ if eq $rangePages ($.Scratch.Get "counter") }}
                        {{.Title}}
                    {{ else }}
                        {{.Title}},
                    {{ end }}
                    
                    {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
			  <!-- <br></br><a href="{{ .RelPermalink }}">{{.Title}}</a> -->
			  {{ end }}
			  
			  {{.Summary}}
			</dataset>
  			{{ end }}
		</div>
	</div>
</div>
{{ end }}
  
  
  