<nav aria-label="breadcrumb">
<ol class="breadcrumb bg-white">
  {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
</ol>
</nav>
{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
{{ else if not .p1.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
{{ end }}
<li {{ if eq .p1 .p2 }} class="breadcrumb-item active" {{else}} class="breadcrumb-item" {{ end }}>
	<a href="{{ .p1.Permalink }}">
	{{ if not .p1.IsHome }}
	{{ .p1.Title }}
	{{ else }}
	<i class="fa fa-home" aria-label="Home"></i>
	{{ end }}
	</a>
</li>
{{ end }}