<nav aria-label="breadcrumb">
{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "path" .Site.BaseURL }}
{{ $list := split $url "/" }}
{{ $len := (len $list) }}
{{ $thisPage := .Permalink }}
{{ $thisTitle := .Title }}
<ol class="breadcrumb bg-white">
  <li class="breadcrumb-item">
    <a href="/">
      <i class="fa fa-home" aria-label="Home"></i>
    </a>
  </li>

      
      {{- range $index, $element := $list -}}

        {{- $.Scratch.Add "path" $element -}}

        {{- if ne $element "" -}}

          <!-- Need to add /datasets/ in front of datasets filters -->

          {{- if or (eq $element "categories") (eq $element "departments") -}}
            <li class="breadcrumb-item">
              <a href='./datasets/'>Data Catalog</a>
            </li>
            {{- if eq (add $index 1) (sub $len 1) -}}
              <li class="breadcrumb-item active">
                {{ $thisTitle }}
              </li>
            {{- else -}}
              <li class="breadcrumb-item">
                <a href='{{ $.Scratch.Get "path" }}'>{{ humanize . }}</a>
              </li>
              {{- $.Scratch.Add "path" "/" -}}
            {{- end -}}

          {{- else -}}

            {{- if eq (add $index 1) (sub $len 1) -}}
              <li class="breadcrumb-item active">
                {{ $thisTitle }}
              </li>
            {{- else -}}
              <li class="breadcrumb-item">
                <a href='{{ $.Scratch.Get "path" }}'>{{ humanize . }}</a>
              </li>
              {{- $.Scratch.Add "path" "/" -}}
            {{- end -}}


          {{- end -}}

        {{- end -}}
      
      {{- end -}}
    

</ol>
</nav>