<div class="row mt-4">
{{ $url := .Params.described_by }}
{{ $sep := "," }}
{{ $csvRows :=  getCSV $sep $url}}
{{ $noRows := $csvRows | len }}
{{ $noDataFields := sub $noRows 1 }}
{{ $dataFields := last $noDataFields $csvRows }}
{{ $dataFieldsLen :=  sub $noDataFields 1 }}

<div class="col-sm">
    <div class="dictionary-table">
        <table class="table" id="accordionColumnsDictionary">
            <thead class="rounded-table-border fs-3 fw-bold text-uppercase">
                <th>Column name</th>
                <th>Data type</th>
                <th></th>
            </thead>
            <tbody>
                {{- range $i, $r :=  $dataFields }}
                <tr class="fs-5 fw-semibold">
                    <td class="align-middle">{{ index $r 0 }}</td>
                    <td class="align-middle">{{ index $r 2 }}</td>
                    <td><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ $i }}" aria-expanded="true" aria-controls="collapse{{ $i }}"></button></td>
                </tr>
                <tr id="collapse{{ $i }}" class="fs-6 accordion-body collapse" data-bs-parent="#accordionColumnsDictionary">
                    <td class="accordion-body" colspan="3">{{ index $r 1 }}</td>
                </tr>
                {{- end }}
            </tbody>
        </table>
    </div>
</div>

</div>