<script defer src="/assets/scripts/dist/vendor/jquery.js"></script>
<script defer src="/assets/scripts/dist/vendor/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js"></script>
<script defer src="/assets/scripts/dist/vendor/jquery-deparam.js"></script>
<script defer src="/assets/scripts/dist/vendor/lodash.js"></script>
<script defer type="module" src="/assets/scripts/src/index.js"></script>
<script defer src="/assets/scripts/src/main.js"></script>
<script defer src="/assets/scripts/dist/vendor/fuse.min.js"></script>
<script defer src="/assets/scripts/dist/vendor/mark.min.js"></script>
<script defer src="/assets/scripts/src/search.js"></script>
<script defer src="/assets/scripts/src/data-preview.js"></script>
