<div class="container-fluid bg-dark sd-footer">
<footer>
    <div class="container footer-links py-4">
    <div class="row mb-3">
        <div class="col">
            <div class="info-links clearfix">
            <a title="P and A" href="http://sandiego.gov/pad" target="_blank" class="float-md-left pr-md-4">Performance & Analytics Department</a>
            <a title="Open data policy" href="http://dockets.sandiego.gov/sirepub/view.aspx?cabinet=published_meetings&fileid=757846"
                    target="_blank" class="float-md-left pr-md-4">Open data policy</a>
            <a title="Contact us" href="mailto:data@sandiego.gov" class="float-md-left pr-md-4">Contact Us</a>
            <a title="Terms of Use" href="/terms-use" class="float-md-left pr-md-4">Terms of Use</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="social-links clearfix">
                <a href="https://twitter.com/CityofSanDiego" target="_blank"title="City of San Diego Twitter" class="float-sm-left pr-sm-4">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="http://opendata.stackexchange.com/search?q=san+diego" target="_blank" title="Open Data Stack Exchange" class="float-sm-left pr-sm-4">
                    <i class="fa fa-stack-overflow"></i>
                </a>
                <a href="https://github.com/cityofsandiego" target="_blank" title="City of San Diego Github" class="float-sm-left pr-sm-4">
                    <i class="fa fa-github-alt"></i>
                </a>
            </div>
        </div>
    </div>
    </div>
</footer>
</div>

<script defer src="/assets/jquery.slim.min.js"></script>
<script defer src="/assets/bootstrap-4.4.1-dist/js/bootstrap.bundle.js"></script>
<script defer src="/assets/main.js"></script>


{{ if .IsHome}}
<script type="text/javascript">
(function() {
  'use strict';

  document.addEventListener('DOMContentLoaded', function(e) {
    console.log("Front page loaded");

    let ddHidden = true;

    $('#searchResults').on('show.bs.dropdown', function () {
        ddHidden = false;
    }).on('hide.bs.dropdown', function () {
        ddHidden = true;
    });
    

    document.getElementById("searchSubmit").addEventListener("click", searchSubmit);
    document.getElementById("searchQuery").addEventListener('keyup', (event) => {

        if (event.keyCode === 13) {
            if (ddHidden) {
                $('#searchSubmit').dropdown('toggle');
            }
            searchSubmit();
        }
    }, false);

  })
})();
</script>
<script defer src="/assets/fuse.min.js"></script>
<script defer src="/assets/mark.min.js"></script>
<script defer src="/assets/search.js"></script>

{{ else if eq .Section "datasets"}}

<script defer src="/assets/data-preview.js"></script>

{{ else if eq .Title "Explore the Civic Art Collection" }}

<script type="text/javascript">
(function() {
  'use strict';

  document.addEventListener('DOMContentLoaded', function(e) {
    console.log("Art map page loaded");
    drawMap();
  })
})();
</script>

<script defer src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script defer src="https://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
<script defer src="/assets/art-map.js"></script>

{{ end }}


