<div class="container-fluid section-bg-dk-1">
    <div class="fp-org-illustration">
        <div class="container py-6">
            <div class="row">
                <div class="col-sm-6 offset-sm-6">
                  {{- $fpAccordionOrg := $.Site.Data.fpSectionContent.navigation }}
                  {{- $main := index $fpAccordionOrg "main" 0 }}
                    <h1 class="display-4 text-white">{{ $main.title }}</h1>
                    <div class="title-h1-rule mt-3 mb-5"></div>
                    <div class="text-white fs-5 mb-5">
                      {{ markdownify $main.body }}
                    </div>
                    <div class="accordion accordion-flush fp-organization-accordion mb-5" id="accordionPortalOrg">
                        {{- range $fpAccordionOrg.hierarchy }}
                        <div class="accordion-item text-white">
                          <h2 class="accordion-header" id="flush-{{ lower .title }}">
                            <button class="accordion-button fs-5 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ .title }}" aria-expanded="false" aria-controls="flush-collapse{{ .title }}">
                              {{ .title }}
                            </button>
                          </h2>
                          <div id="flush-collapse{{ .title }}" class="accordion-collapse collapse show" aria-labelledby="flush-{{ lower .title }}">
                            <div class="accordion-body fs-6">
                                {{ markdownify .body }}
                            </div>
                          </div>
                        </div>
                        {{- end }}
                    </div>
                    {{- $browsing := index $fpAccordionOrg "browsing" 0 }}
                    <h1 class="display-6 text-white mb-3">{{ $browsing.title }}</h1>
                    <p class="text-white fs-5">{{ markdownify $browsing.body }}</p>

                </div>
            </div>
        </div>
    </div>
</div>