<div class="modal" tabindex="-1" role="dialog" id="fpOverlay">
  <div class="fp-modal-dialog" role="document">
      <h1 class="modal-hed">San Diego Open Data</h1>
      <ul class="modal-site-nav mt-auto mb-auto">
        <li>
          <a href="/datasets/">Browse Data</a>
        </li>
        <li>
          <a href="/topics/">Topics</a>
        </li>
        <li>
          <a href="/get-started/">Get Started</a>
        </li>
        <li>
          <a href="/resources/">Resources</a>
        </li>
      </ul>
      <div class="modal-close">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <svg id="modalCloseTimes" data-name="modal-close"viewBox="0 0 30.41 30.41">
                <line class="cls-1" x1="4.45" y1="4.45" x2="25.96" y2="25.96"/><line class="cls-1" x1="4.45" y1="25.96" x2="25.96" y2="4.45"/>
              </svg>
          </button>
      </div>
  </div>
</div>