<nav class="navbar navbar-dark navbar-expand-sm sd-bar fixed-top clearfix">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sdBarNav" aria-controls="sdBarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="sdBarNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="https://data.sandiego.gov/terms-use/">
          Terms of Use
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://www.sandiego.gov/panda">
          Performance & Analytics Department
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://www.sandiego.gov/">
          sandiego.gov
        </a>
      </li>
    </ul>
  </div>
</nav>