<div class="container-fluid fixed-top sd-bar clearfix bg-light">  
  <p class="float-right mb-0">
    <a href="http://sandiego.gov/mayor" target="_blank" title="San Diego Mayor Faulconer">Mayor Kevin L. Faulconer</a>
  </p>
  <p class="float-right mb-0">
    <a href="http://sandiego.gov" target="_blank" title="San Diego Main Site">City of San Diego</a>
    <span class="px-2">|</span>
  </p>
</div>
<div class="container-fluid fixed-top sd-navbar-top bg-dark">
  <nav class="navbar navbar-expand-md navbar-dark py-0">
    <div class="brand-contain clearfix">
      <a class="navbar-brand py-0" href="/">
        <img src="/assets/images/cosd-logo-initials-white-300ppi.png" class="nav-logo float-left"/>
        <span class="navbar-brand-text ml-2 float-left">Open Data</span>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-dark" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active pl-2">
          <a class="nav-link" href="/datasets/">Browse Data</a>
        </li>
        <li class="nav-item active pl-2">
          <a class="nav-link" href="/topics/">Topics</a>
        </li>
        <li class="nav-item active pl-2">
          <a class="nav-link" href="/get-started/">Get Started</a>
        </li>
        <li class="nav-item active pl-2">
          <a class="nav-link" href="/resources/">Resources</a>
        </li>
      </ul>
    </div>
    <div class="ml-4">
      {{ partial "search" . }}
    </div>
  </nav>
</div>