{{- $page := . }}
{{- if .IsHome }}
<div class="container-fluid"></div>
{{- else}}
<div class="container-fluid nav-color-bar">
{{- end}}
  <nav class="navbar navbar-light navbar-expand-xl">
        <a class="navbar-brand header-logo-contain" href="/">
          <img src="/assets/images/cosd-header-logo.svg" alt="City of San Diego" class="d-inline-block align-text-bottom header-logo">
          Data Portal
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse header-nav flex-row-reverse fs-5 fw-bold" id="navbarNav">
          <ul class="navbar-nav">
            {{ range site.Menus.main }}
            <li class="nav-item me-5">
              <a class="nav-link {{ .Params.class }} {{- if or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .)  }} active {{- end }} pe-4" aria-current="page" href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
  </nav>
</div>