<div class="container">
    <div class="row">
        <div class="col">
            <div id="carouselPortalExplainer" class="carousel fp-carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active portal-intro">
                    <div class="d-flex flex-column p-6 carousel-item-text">
                        <h1 class="display-4">How to Navigate the <br>Open Data Portal</h1>
                        <div class="intro-h1-rule mt-3 mb-5"></div>
                        <p class="fs-5 carousel-item-text-body">If this is your first time seeking open data, navigating the portal can be confusing. We've boiled the process down to three easy steps to get you started so you can find the information you're looking for faster. </p>
                        <div class="mt-5 mb-2">
                            <button type="button" class="btn btn-primary" data-bs-target="#carouselPortalExplainer" data-bs-slide-to="1">Step 1</button>
                        </div>
                        <div class="my-2">
                            <button type="button" class="btn btn-primary" data-bs-target="#carouselPortalExplainer" data-bs-slide-to="2">Step 2</button>
                        </div>
                        <div class="my-2">
                            <button type="button" class="btn btn-primary" data-bs-target="#carouselPortalExplainer" data-bs-slide-to="3">Step 3</button>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item portal-lingo">
                    <div class="d-flex flex-column p-6 carousel-item-text">
                        <h1 class="display-4">Understand the lingo</h1>
                        <div class="steps-h1-rule mt-3 mb-5"></div>
                        <p class="fs-5 carousel-item-text-body">The volume of information available requires us to get specific, impacting how you will search for certain data. You'll need know the keywords to narrow down your search results. Before clicking the search bar, spend a minute reviewing our Glossary of Terms to see how your data might be categorized</p>
                    </div>
                  </div>
                  <div class="carousel-item portal-navigate">
                    <div class="d-flex flex-column p-6 carousel-item-text">
                        <h1 class="display-4">Navigate our <br>dataset catalog</h1>
                        <div class="steps-h1-rule mt-3 mb-5"></div>
                        <p class="fs-5 carousel-item-text-body">In the dataset catalog, you can explore data by department, provided categories or using your own keywords—all of which will provide search results available for download. If the resulting data isn't what you were looking for, adjust your search and try again. Need to see this in action? Check out our blog to walk through a sample search. </p>
                    </div>
                  </div>
                  <div class="carousel-item portal-download">
                    <div class="d-flex flex-column p-6 carousel-item-text">
                        <h1 class="display-4">Preview and <br>download the data</h1>
                        <div class="steps-h1-rule mt-3 mb-5"></div>
                        <p class="fs-5 carousel-item-text-body">Once you’ve found a dataset that you're interested in, you can preview the data right on the page to confirm it has the information you're looking for. Now that you’ve found your desired dataset, you can download it for free using a preferred format that matches your computer's capabilities. The data is now yours to work with!</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>