{{ define "main" }}
{{ partial "header" . }}
<div class="jumbotron jumbotron-fluid dp-jumbotron">
    <div class="jumbotron-content-layer">
        <div id="dpJumbotronContent" class="dp-jumbotron-content">
            <div class="intro-hed">
                <div class="brand-contain clearfix">
                        <a class="navbar-brand py-0" href="/">
                            <div class="fp-logo-solid">
                            {{ partial "logo-white-color-2" . }}
                            </div>
                            <span class="navbar-brand-text float-left">Open Data</span>
                        </a>
                    </div>
            </div>
            <div class="intro-block-contain">  
                <div class="intro-block">
                    {{ partial "search-fp" . }}
                </div>
                <div class="intro-block">
                    Or <a href="/datasets/">browse</a> for data about topics like <a href="/datasets/traffic-volumes/">traffic</a>, the <a href="/budget-topic/">City budget</a>, <a href="/departments/police/">police activity</a>, <a href="/datasets/business-listings/">local businesses</a>, and <a href="/datasets/">more</a>.
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}