---
schema: default
title: Get Water Testing Results
date: 2016-07-15 00:00:00
thumbnail: '/assets/img/stories/water-kitchen-black-design.jpg'
author:
    name: Andrell Bower
---

Use this map of the sampling sites where the City's Public Utilities Department tests for indicator bacteria.

Public Utilities currently has 160 sample sites for the City of San Diego drinking water system and is required to test 85 sites per week. Temperature, chlorine and pH are measured on site, and then a sample is brought to a lab to test for the presence of the indicator bacteria coliform and E.coli. Coliform and the strains of E.coli tested serve as indicators of the presence of potentially harmful bacteria.

<!--more-->

<h4> How To Interpret The Results </h4>

A value of "A" under coliform and/or E.coli means "absence," or that the latest test at that site was negative for indicator bacteria. A value of "P" means presence.

A positive result for coliform from one single test is not enough to constitute an MCL (Maximum Contaminant Level) violation. An acute violation occurs when a site that initially tested positive is repeat tested and either the initial sample or one of the repeat samples is positive for E. coli. A monthly MCL violation occurs if more than 5 percent of all routine and repeat tests are coliform positive. A positive coliform result from a single routine test may be due to sampling error or bacteria in the testing mechanism but not in the drinking water pipes.

{% include story-embed.html col-md="12" url="https://cityofsandiego.carto.com/u/cityofsandiego-admin/viz/a8a34894-3d6b-11e6-b5f8-0ecd1babdde5/embed_map"%}
