---
layout: default
title: Add department
permalink: /add-department/
---
{% include breadcrumbs.html parent="departments" %}

<div class="alert alert-success" role="alert" data-hook="alert-success" style="display: none;">
  This department has been <a href="#" data-hook="commit-url">created</a> and the page is currently generating.
  It will be available momentarily at <a href="#" data-hook="department-url"></a>
</div>

<div class="alert alert-danger" role="alert" data-hook="alert-error" style="display: none;">
  There was an error saving this page
</div>

<div class="row" data-hook="edit-view">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Add department</h1>
    {% include department-form.html %}
  </div>
</div>
