---
title: Departments
layout: default
permalink: /departments/
---
{% include breadcrumbs.html %}


<div class="row">
<div class="col-sm-12">
{% for department in site.departments %}
  {% assign dataset_count = site.datasets | where:"department", department.title | size %}
  <div class="department-listing">
    <h3><a href="{{ site.baseurl }}{{ department.url }}">{{ department.title }}</a></h3>
    <p>{{ department.description }}</p>
    <p>
      <a href="{{ site.baseurl }}/datasets/?department={{ department.title | slugify }}">
        <span class="badge">{{ dataset_count }}</span>
      </a>
    </p>
  </div>
{% endfor %}
</div>
</div>
