---
layout: front
---

<!--<template is="dom-bind">-->
    <div class="container-fluid data-search data-search-color-layer">
        <div class="data-search-img-layer">
        </div>
        <div class="data-search-box-layer">
            <div class="container find-data-autocomplete">
                <div class="col-12">
                <h2>
                    Find data
                </h2>
                <!--<div class="row">-->
                     <paper-autocomplete
                        label='Search by dataset name, topic or City department' id="find-data" aria-label="Find data" remote-source="true" no-label-float="true" text-property="title" value-property="url" error-message="error">
                        <template autocomplete-custom-template>
                            <paper-item on-tap="_onSelect" id$="[[_getSuggestionId(index)]]" role="option" aria-selected="false">
                            <span class="autocomplete-suggestions-type">[[item.type]]:</span> <span class="autocomplete-suggestions-result">[[item.title]]</span>
                            <paper-ripple></paper-ripple>
                            </paper-item>
                        </template>
                    </paper-autocomplete>
                    <i class="find-data-icon fa fa-search"></i>
                </div><!-- column -->
            </div>
        </div>
    </div>

<script>
    var searchIndex;
    var findData = document.querySelector('#find-data');
    var findDataIcon = document.querySelector('.find-data-icon');
    findData.addEventListener('autocomplete-selected', onSelect);
    findData.addEventListener('autocomplete-change', onChange);

    var noResults = {
        "title": "Sorry, we couldn't find anything",
        "type": "No Result",
        "url": "none"
    }
    // Switch Backgrounds:
    document.querySelector('.data-search-img-layer').classList.add('data-search-img-' + Math.floor(Math.random() * 2));


    function onSelect(event) {
            var selected = event.detail.text;
            if (event.detail.value !== 'none')
                window.location.href = event.detail.value;
    }

    function onChange(event) {
            var search = event.detail.option.text.toLowerCase();
            findDataIcon.classList.add('hidden')
            var searchIndexURL = "{{ settings.BASE_URL }}/searchindex.json";
            if (!searchIndex) {
                    $.getJSON(searchIndexURL, function(data){
                            searchIndex = data;
                    })
                    return;
            }

            suggestionsList = searchIndex.filter(function(obj){
                                return obj[findData.textProperty].toLowerCase().indexOf(search) !== -1;
                        });

            if (suggestionsList.length == 0)
                suggestionsList = Array(noResults);

                        findData.suggestions(suggestionsList)
                }
</script>
<!--</template>-->

<div class="container-fluid the-latest">
  <div class="container">
    <div class="col-12 latest-rail">
      <div class="latest-rail-item">
        <strong>The latest </strong>
        <div class="rail-spacer">&rarr;</div>
      </div>

      {% assign latestpost = site.stories | sort:"date" | reverse | first %}
      <div class="latest-rail-item">
          <a href="{{ latestpost.url }}">{{ latestpost.title }}</a>
        <div class="rail-spacer">&bull;</div>
      </div>

      <div class="latest-rail-item">
        <div><a href="/get-started/">Resources</a> updated yesterday:&nbsp;</div>
        <div id="poseidon-yesterday-count"></div>
        <div class="rail-spacer">&bull;</div>
      </div>

      <div class="latest-rail-item">
        <div>GB updated yesterday:&nbsp;</div>
        <div id="poseidon-yesterday-size"></div>
      </div>


    </div>
  </div>
</div>

<div class="container-fluid resources-promo">
  <div class="container">
    <div class="col-sm-4">
      <h3>Get help</h3>
      <!--<p class="intro-box">
        <b>DataSD</b> is the official portal for City of San Diego Open Data. Here, you'll find data about City
        operations, including public safety, street repairs, public facilities, code enforcement, business licensing, etc.
        If you can’t find what you’re looking for, we might <a href="/datasets/data-inventory/" target="_blank" rel="noopener" title="Data Inventory">still be working on publishing it</a>, or it might come from <a href="/resources" title="Resources">another agency</a>.
      </p>-->
        <div class="row">
          <div class="col-sm-12 resources-col">
            <a href="/get-started/">
              <div class="resources-box">
                <p>Using the portal</p>
              </div>
            </a>
          </div>
          <div class="col-sm-12 resources-col">
            <a href="/resources/">
              <div class="resources-box">
                <p>Using the data</p>
              </div>
            </a>
          </div>
        </div>
    </div>

    <div class="col-sm-4">
      <h3>Tell us</h3>
        <div class="row">
          <div class="col-sm-12 resources-col">
            <a href="/feature-your-work.html">
              <div class="resources-box">
                <p>How you used our data</p>
              </div>
            </a>
          </div>
          <div class="col-sm-12 resources-col">
            <a href="/contact-datasd.html">
              <div class="resources-box">
                <p>Your feedback</p>
              </div>
            </a>
          </div>
        </div>
    </div>

    <div class="col-sm-4">
      <h3>Learn more</h3>
        <div class="row">
          <div class="col-sm-12 resources-col">
            <a href="/open-source/">
              <div class="resources-box">
                <p>Our services</p>
              </div>
            </a>
          </div>
          <div class="col-sm-12 resources-col">
            <a href="/stories">
              <div class="resources-box">
                <p>Our projects</p>
              </div>
            </a>
          </div>
        </div>
    </div>


  </div>
</div>

<div class="container-fluid made-data">
  <div class="container">
    <div class="col-12 homepage-trends">
      <h2>See trends</h2>
        <div class="row trends-rail">
              {% assign trend_ct = 0 %}
              {% for trend in site.data.trends %}
                {% if trend.featured == true %}
                    {% assign trend_modulo = trend_ct | modulo:3 %}
                    {% if trend_modulo == 0 and trend_ct != 0 %}
                      </div>
                      <div class="row trends-rail">
                    {% endif %}
                        <div class="col-sm-4 trend-preview-container">
                          <a href="{{ trend.url }}"
                              class="trend-link" title="{{ trend.title }}">
                          {% if trend.img and trend.img != empty %}
                              <img src="{{ trend.img }}" alt="{{ trend.title }}">
                          {% endif %}
                          </a>
                          <div class="preview-text">
                            <h5>
                              <a href="{{ trend.url }}" title="{{ trend.title }}">
                                {{ trend.title }}
                              </a>
                            </h5>
                            <p class="preview-desc">
                              {{ trend.intro }}
                            </p>
                          </div>
                        </div>
                    {% assign trend_ct = trend_ct | plus: 1 %}
                {% endif %}
              {% endfor %}
          </div><!--row-->
      </div><!--trends-->
    </div>
</div>

<script defer>
    (function() {
      'use strict';
      var getStats = function() {
        var client = new KeenFull({
            projectId: "58b083098db53dfda8a88bcf",
            readKey: "C1D6737D0D885EAC071B7BBC73AE2DC34A65095D1BFE261C59195FABC3863388"
        });

        client.run("bytes-yesterday", function(err, response) {
            document.getElementById("poseidon-yesterday-size").innerHTML = Math.round(response.result/1073741824 * 100) / 100;
        });

        client.run("resources-yesterday", function(err, response) {
            document.getElementById("poseidon-yesterday-count").innerHTML = response.result[0].value;
        });
      }

      // Because IE
      if (typeof KeenFull == 'undefined') {
        setTimeout(getStats, 3000);
      }
      else {
        getStats();
      }

    })();



</script>
