---
layout: front
---

<div class="container-fluid data-search">
  <div class="container">
    <div class="col-12">
      <h2>
        Find data
      </h2>
      <!--<div class="row">-->
      <template is="dom-bind">
        <script>
			var searchIndex;
			var findData = document.querySelector('#find-data');
			findData.addEventListener('autocomplete-selected', onSelect);
			findData.addEventListener('autocomplete-change', onChange);

			function onSelect(event) {
				var selected = event.detail.text;
				window.location.href = event.detail.value;
			}

			function onChange(event) {
				var search = event.detail.option.text.toLowerCase();
				var searchIndexURL = "{{ settings.BASE_URL }}/searchindex.json";
				if (!searchIndex) {
					$.getJSON(searchIndexURL, function(data){
						searchIndex = data;
					})
					return;
				}

				findData.suggestions(searchIndex.filter(function(obj){
					return obj[findData.textProperty].toLowerCase().indexOf(search) !== -1;
				}))


			}

        </script>
        <paper-autocomplete
            label="Search by dataset name, topic or City department"
            id="find-data"
            remote-source="true"
            no-label-float="true"
			text-property="title"
			value-property="url">
            <template autocomplete-custom-template>
				<paper-item on-tap="_onSelect" id$="[[_getSuggestionId(index)]]" role="option" aria-selected="false">
					[[item.title]] -- [[item.type]]
				<paper-ripple></paper-ripple>
				</paper-item>
  			</template>
        </paper-autocomplete>
      </template>
    </div>
  </div>
</div>

<div class="container-fluid resources-promo">
  <div class="container">
    <div class="col-12">
      <h2>Get help</h2>
      <ul>
        <li>View a tutorial about this data portal</li>
        <li>Learn about the portal's open source technology</li>
        <li>Read FAQ</li>
        <li>Contact us</li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid made-data">
  <div class="container">
    <div class="col-12 homepage-data-stories">
      <h2>See trends</h2>
          <div class="row data-stories-rail">
              {% for data_story in site.data.data_stories %}
                {% if data_story.featured == true %}
                    <div class="col-sm-4 data-story-preview-container">
                      <a href="{{ data_story.url }}"
                          class="data-story-link" title="{{ data_story.title }}">
                      {% if data_story.img and data_story.img != empty %}
                          <img src="{{ data_story.img }}" alt="{{ data_story.title }}">
                      {% endif %}
                      </a>
                      <div class="preview-text">
                        <h5>
                          <a href="{{ data_story.url }}" title="{{ data_story.title }}">
                            {{ data_story.title }}
                          </a>
                        </h5>
                        <p class="preview-desc">
                          {{ data_story.intro }}
                        </p>
                      </div>
                    </div>
                {% endif %}
              {% endfor %}
          </div><!--row-->
      </div><!--data-stories-->
    </div>
</div>
