/*
The main SCSS file for everything, yep
*/
.hll {
  background-color: #ffffcc; }

.c {
  color: #999; }

.err {
  color: #AA0000;
  background-color: #FFAAAA; }

.k {
  color: #006699; }

.o {
  color: #555555; }

.cm {
  color: #0099FF;
  font-style: italic; }

.cp {
  color: #009999; }

.c1 {
  color: #999; }

.cs {
  color: #999; }

.gd {
  background-color: #FFCCCC;
  border: 1px solid #CC0000; }

.ge {
  font-style: italic; }

.gr {
  color: #FF0000; }

.gh {
  color: #003300; }

.gi {
  background-color: #CCFFCC;
  border: 1px solid #00CC00; }

.go {
  color: #AAAAAA; }

.gp {
  color: #000099; }

.gu {
  color: #003300; }

.gt {
  color: #99CC66; }

.kc {
  color: #006699; }

.kd {
  color: #006699; }

.kn {
  color: #006699; }

.kp {
  color: #006699; }

.kr {
  color: #006699; }

.kt {
  color: #007788; }

.m {
  color: #FF6600; }

.s {
  color: #d44950; }

.na {
  color: #4f9fcf; }

.nb {
  color: #336666; }

.nc {
  color: #00AA88; }

.no {
  color: #336600; }

.nd {
  color: #9999FF; }

.ni {
  color: #999999; }

.ne {
  color: #CC0000; }

.nf {
  color: #CC00FF; }

.nl {
  color: #9999FF; }

.nn {
  color: #00CCFF; }

.nt {
  color: #2f6f9f; }

.nv {
  color: #003333; }

.ow {
  color: #000000; }

.w {
  color: #bbbbbb; }

.mf {
  color: #FF6600; }

.mh {
  color: #FF6600; }

.mi {
  color: #FF6600; }

.mo {
  color: #FF6600; }

.sb {
  color: #CC3300; }

.sc {
  color: #CC3300; }

.sd {
  color: #CC3300;
  font-style: italic; }

.s2 {
  color: #CC3300; }

.se {
  color: #CC3300; }

.sh {
  color: #CC3300; }

.si {
  color: #AA0000; }

.sx {
  color: #CC3300; }

.sr {
  color: #33AAAA; }

.s1 {
  color: #CC3300; }

.ss {
  color: #FFCC33; }

.bp {
  color: #336666; }

.vc {
  color: #003333; }

.vg {
  color: #003333; }

.vi {
  color: #003333; }

.il {
  color: #FF6600; }

.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: #999; }

.department-thumbnail img {
  width: 64px; }

dataset {
  display: block;
  border-bottom: 1px #d6d6d6 solid;
  padding-bottom: 20px; }

.list-group-item-truncate {
  display: inline-block;
  line-height: 1.3;
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.resource-description {
  font-size: 90%; }

.select2 {
  margin-bottom: 10px; }

.datasets-count {
  display: inline-block; }

.add-dataset-btn {
  margin-top: 15px; }

/* Hidden from guests */
.user-issue,
.admin-only {
  display: none; }

.resource-details,
.show-resource-details {
  display: none; }

.show-resource-details {
  font-size: 80%; }

.user-issue {
  color: red; }

[data-component~=view-switcher] [data-hook~=view] {
  display: none; }

.homepage-categories,
.theme-gallery {
  text-align: justify; }

/* allows last line of categories to be justify aligned */
.homepage-categories:after,
.theme-gallery:after {
  display: inline-block;
  width: 100%;
  content: ''; }

.homepage-categories .thumbnail {
  display: inline-block;
  min-width: 120px;
  text-align: center;
  border: none;
  padding: 10px; }

.homepage-categories .thumbnail img {
  height: 80px; }

.homepage-categories a {
  color: #000; }

.theme-gallery .panel {
  display: inline-block;
  max-width: 250px;
  text-align: center; }

.theme-gallery .panel img {
  width: 100%; }

.theme-gallery .panel-primary {
  border-width: 5px; }

/** Assists **/
/* Mixin */
/* Classic Pallete */
/*http://take.ms/7Sv5Z*/
/** End Assists **/
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.7em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #005bbb; }

/** Navbar **/
img.logo {
  background: #37424a;
  height: 40px; }

.panel {
  border-radius: 0px; }

#sd-bar {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.2px;
  background-color: #e0e1dd;
  min-height: 0;
  margin-bottom: 0px;
  height: 34px;
  color: #37424a; }
  #sd-bar a {
    color: #37424a;
    font-size: 0.85em;
    font-weight: 400;
    line-height: 34px; }
    #sd-bar a:visited {
      color: #37424a;
      background-color: #e0e1dd; }
    #sd-bar a:hover {
      color: #37424a;
      background-color: #s_gray_lt; }

.sd-navbar-top.navbar-default {
  margin-top: 33.4px;
  background-color: #37424a;
  margin-bottom: 0px; }
  .sd-navbar-top.navbar-default .navbar-header {
    margin-top: 0px;
    /*height:50px;*/
    float: right;
    width: 100%; }
  .sd-navbar-top.navbar-default .navbar-brand {
    padding: 0px;
    padding-top: 5px;
    color: #adafaf;
    float: right;
    padding-right: 15px; }
  .sd-navbar-top.navbar-default span#title {
    position: relative;
    top: 9.3px;
    font-size: 1.3em;
    font-weight: 400; }
  .sd-navbar-top.navbar-default .navbar-collapse {
    background: #37424a; }
  .sd-navbar-top.navbar-default li.active a:hover {
    background-color: #37424a; }
  .sd-navbar-top.navbar-default li a {
    color: #e0e1dd;
    font-size: 1em;
    display: inline-block;
    font-weight: 700; }
    .sd-navbar-top.navbar-default li a:visited {
      color: #e0e1dd;
      background-color: #37424a; }
    .sd-navbar-top.navbar-default li a:hover {
      color: #e0e1dd;
      text-decoration: underline;
      background-color: #37424a; }
  .sd-navbar-top.navbar-default .container {
    padding-right: 0px;
    padding-left: 0px; }

#footer-bar {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.2px;
  background: #e0e1dd;
  font-size: 0.85em;
  line-height: 34px;
  height: 34px;
  position: fixed;
  bottom: 0px;
  z-index: 9999999;
  opacity: 0.99;
  border-radius: 0px;
  text-align: center;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  color: #37424a; }
  #footer-bar a {
    color: #37424a; }
    #footer-bar a:visited {
      color: #37424a; }
    #footer-bar a:hover {
      color: #37424a; }

.btn-secondary {
  background: #ffa02f;
  color: white; }

/*responsive menu */
.navbar-default .navbar-toggle {
  border-color: transparent;
  top: 8px; }

.navbar-toggle {
  background-color: transparent;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  margin-right: 5px;
  float: left; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #334A6D; }

.navbar-toggle .icon-bar {
  height: 3px; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #e0e1dd; }

a .hidden-link-text {
  display: none; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .jumbo-intro {
    padding-bottom: 0px; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .jumbo-intro {
    padding-bottom: 0px; }
  .sd-navbar-top.navbar-default .navbar-header {
    width: auto; }
  .sd-navbar-top.navbar-default .navbar-brand {
    float: right; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  #footer-bar {
    height: 30px; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #footer-bar {
    height: 30px; } }

body {
  color: #37424a; }
  body a {
    color: #005bbb;
    text-decoration: none;
    font-weight: 700; }
    body a:hover {
      color: #0098db;
      text-decoration: underline; }
    body a:visited {
      color: #005bbb;
      text-decoration: none; }

.breadcrumb > .active {
  color: #747678; }

.label-default {
  background-color: #747678; }

span.badge {
  background: #747678; }

.breadcrumb {
  background-color: #e0e1dd; }
  .breadcrumb a {
    color: #005bbb;
    text-decoration: none; }
    .breadcrumb a:hover {
      color: #0098db;
      text-decoration: underline; }
    .breadcrumb a:visited {
      color: #005bbb; }

/* Front page */
.front-page-container {
  margin-top: 84.4px; }

.data-search {
  background-color: #00549f;
  position: relative;
  color: #e0e1dd;
  height: 300px; }
  .data-search .find-data-autocomplete {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.find-data-icon {
  position: absolute;
  right: 35px;
  bottom: 15px; }

.data-search-img-layer {
  height: 300px;
  background: black;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.data-search-box-layer {
  position: relative;
  float: right;
  height: 300px;
  width: 100%;
  margin-top: -300px;
  padding-left: 15px;
  padding-right: 15px; }

.data-search-img-0 {
  background: url("/assets/img/front/midview-historical.png") no-repeat center center;
  opacity: 0.3; }

.data-search-img-1 {
  background: url("/assets/img/front/midview-historical.png") no-repeat center center;
  opacity: 0.3; }

.data-search-img-2 {
  background: url("/assets/img/front/midview-historical.png") no-repeat center center;
  opacity: 0.3; }

.data-search-color-layer {
  height: 300px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important; }

.resources-promo {
  background-color: #ffb652;
  cursor: pointer; }
  .resources-promo ul {
    padding-top: 7.2857px; }

.data-stories-rail {
  padding-top: 7.2857px; }

.data-search, .resources-promo, .made-data {
  padding-bottom: 60px;
  padding-top: 30px; }
  .data-search h2, .resources-promo h2, .made-data h2 {
    margin-bottom: 15px; }

.paper-input-container-0 .input-content .paper-input-container .paper-input {
  color: #e0e1dd;
  font-family: "Merriweather",Helvetica, Arial, sans-serif; }

.paper-input-container-0 .unfocused-line.paper-input-container, .paper-input-container-0 .focused-line.paper-input-container {
  border-bottom: 1px solid #e0e1dd; }

.paper-autocomplete-suggestions-0 {
  font-family: "Merriweather",Helvetica, Arial, sans-serif; }
  .paper-autocomplete-suggestions-0 .autocomplete-suggestions-type {
    font-weight: 700;
    font-size: 0.75em;
    text-transform: uppercase;
    color: #adafaf;
    padding-right: 10px; }
  .paper-autocomplete-suggestions-0 .autocomplete-suggestions-result {
    color: #37424a; }

.data-story-preview-container {
  margin-bottom: 60px; }
  .data-story-preview-container .preview-text h5 {
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif; }
  .data-story-preview-container .preview-text .preview-desc {
    font-size: 0.9em;
    line-height: 1.5;
    font-family: "Merriweather",Helvetica, Arial, sans-serif; }

.data-story-link {
  display: block;
  padding: 4px;
  margin-bottom: 21px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 0;
  transition: border .2s ease-in-out; }
  .data-story-link img {
    width: 100%; }

.main-footer-container {
  background: #37424a;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #e0e1dd;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px; }
  .main-footer-container a {
    color: #e0e1dd;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 400; }
    .main-footer-container a:hover {
      text-decoration: underline;
      color: #e0e1dd; }
    .main-footer-container a:visited {
      color: #e0e1dd; }
    .main-footer-container a i {
      font-size: 1.5em;
      padding-bottom: 10px;
      line-height: 1; }
  .main-footer-container ul {
    list-style: none;
    padding: 0;
    text-align: center; }
    .main-footer-container ul li {
      padding: 0;
      margin: 0; }

/* Dataset page */
.dataset-main h1, .dataset-main h2, .dataset-main h3, .dataset-main h4, .dataset-main h5, .dataset-main table {
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 15px; }

.dataset-main p {
  font-family: "Merriweather",Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 0.9em; }

.dataset-main p.dataset-preview-msg {
  font-size: 12px; }

.dataset-main .preview-resource-title {
  margin-top: 30px; }

.dataset-main .el-margin {
  margin-bottom: 60px; }

table a:not(.btn), .table a:not(.btn) {
  text-decoration: none; }

th {
  text-transform: uppercase;
  color: #747678;
  font-size: 0.85em; }

.table-content-centered {
  text-align: center; }

.resource-table-button {
  padding: 0px;
  min-width: 1em;
  min-height: 1em;
  border-radius: 50%; }
  .resource-table-button .preview-check {
    width: 17px;
    height: 17px;
    background-color: #e0e1dd;
    border: 1px solid white;
    border-radius: 50%;
    color: white; }
    .resource-table-button .preview-check .fa-check-circle {
      width: 17px;
      height: 17px;
      display: block;
      line-height: 1;
      padding: 0;
      margin-top: -0.5px;
      margin-left: -1px; }

.paper-button-0 {
  min-width: initial; }

.resource-table-button[toggles][active] .preview-check {
  background-color: white;
  color: #00549f; }
  .resource-table-button[toggles][active] .preview-check:hover {
    color: #005bbb; }

.resource-preview-loading-spinner {
  margin-left: auto;
  margin-right: auto; }

.px-spinner-0 .spinner.px-spinner {
  border-left: 1.1em solid #00549f; }

.aha-table-0 .columnChooser.aha-table {
  flex-direction: initial; }

.aha-table-0 .th.aha-table {
  text-transform: uppercase;
  color: #747678;
  font-size: 0.85em;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center; }

.aha-table-0 .scroll-body.aha-table {
  margin-top: 30px; }

.px-dropdown-text-0 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.85em;
  color: #00549f;
  font-weight: 700; }

.aha-table-0 .tr--filter.aha-table,
.table-striped > tbody > tr:nth-of-type(odd),
.aha-table-0 .striped.aha-table:nth-child(even) {
  background-color: #f6f8fd; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 1px solid #d1d4d3; }

.aha-table-0 .table.aha-table .td.aha-table, .aha-table-0 .table.aha-table .th.aha-table, .aha-table-0 .table.aha-table td.aha-table, .aha-table-0 .table.aha-table th.aha-table {
  border: 1px solid #d1d4d3; }

.aha-table-0 .text-input.aha-table, .aha-table-0 select.aha-table, .aha-table-0 textarea.aha-table {
  border: 1px solid #d1d4d3;
  font-family: "Source Sans Pro", sans-serif; }

.aha-table-0 .text-input.aha-table, .aha-table-0 textarea.aha-table {
  box-shadow: inset 0 0 0 1px #d1d4d3; }

.px-dropdown-0 .dropcell.px-dropdown {
  background-color: #f6f8fd;
  border: 1px solid #d1d4d3;
  border-radius: 0px; }

.px-dropdown-0 .dropcell.px-dropdown:hover {
  background-color: #f6f8fd;
  border: 1px solid #d1d4d3;
  border-radius: 0px; }
  .px-dropdown-0 .dropcell.px-dropdown:hover .px-dropdown-text-0 {
    color: #5eb6e4; }

.px-dropdown-chevron-0 iron-icon.px-dropdown-chevron {
  color: #00549f; }

/* Datasets landing page */
.datasets-submenu .list-group {
  margin-bottom: 60px; }
  .datasets-submenu .list-group a.list-group-item {
    color: #00549f; }
    .datasets-submenu .list-group a.list-group-item .list-group-item-truncate {
      font-size: 0.9em; }
    .datasets-submenu .list-group a.list-group-item:hover {
      color: #5eb6e4;
      text-decoration: underline; }
      .datasets-submenu .list-group a.list-group-item:hover .list-group-item-truncate {
        color: #5eb6e4;
        text-decoration: underline; }

.datasets-main-listing {
  padding-left: 60px; }

dataset {
  padding-bottom: 40px;
  padding-top: 20px; }
  dataset h3 a:hover {
    color: #5eb6e4;
    text-decoration: underline; }

/* Departments landing page */
.department-listing {
  display: block;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 40px;
  padding-top: 20px; }

.department-page-details {
  padding-bottom: 40px; }

/* Blog landing page */
.article-thumb {
  max-width: 480px;
  float: none;
  padding-left: 0px;
  padding-bottom: 20px;
  padding-top: 20px; }

.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem; }

.post-meta {
  font-size: 0.7em;
  color: #747678;
  margin: 1em 0 0; }

.datasd-article {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 40px;
  padding-top: 20px; }

/* Post pages */
.post-title {
  color: #37424a; }

article.full-post .post-meta {
  margin: 42px 0 30px 0; }

article.full-post section.share {
  font-size: 1.3em;
  line-height: 1;
  margin-bottom: 15px; }

article.full-post section.post-content {
  margin-bottom: 80px; }

.post-excerpt, .post-content {
  font-family: "Merriweather",Helvetica, Arial, sans-serif;
  font-size: 0.95em;
  line-height: 1.3547; }
  .post-excerpt p, .post-content p {
    margin: 0 0 1em; }
  .post-excerpt ul, .post-content ul {
    margin: 0 0 1em; }
    .post-excerpt ul li, .post-content ul li {
      margin: 0 0 0.5em; }
  .post-excerpt h4, .post-content h4 {
    line-height: 2.3; }
  .post-excerpt .iframe-embed iframe.story-embed, .post-content .iframe-embed iframe.story-embed {
    margin: 60px 0 60px 0; }

/* Everything else */
.homepage-categories .thumbnail img {
  height: 120px; }

.default-page-container {
  margin-top: 150px; }

.page-header {
  font-weight: bold;
  color: #37424a;
  text-align: center;
  background: white;
  opacity: 0.95;
  padding-top: 55px;
  padding-bottom: 55px;
  margin-bottom: 0px;
  border-bottom: 0px;
  font-size: 3em; }

.section-header {
  padding-left: 0px;
  padding-right: 0px; }

.fp-panel {
  padding-bottom: 80px; }
  .fp-panel i.text-primary {
    color: #00c7b2; }
  .fp-panel a.btn-go, .fp-panel a.btn-go:active, .fp-panel a.btn-go:hover {
    background: #ffa02f;
    border-color: #ffa02f; }

.panel {
  background: white;
  opacity: 0.95; }

.page.container .page-content {
  background: white;
  opacity: 0.95;
  padding: 10px;
  margin-bottom: 80px;
  padding-top: 1px; }

.big-num {
  background: #0098db;
  color: white;
  font-weight: bold;
  font-size: 1em; }
  .big-num .panel-heading {
    background: transparent;
    border: 0px;
    font-size: 1em;
    color: white; }
  .big-num .chart-stage {
    font-size: 4em; }
  .big-num .chart-bottom {
    font-size: 0.9em; }

.process-wrapper h2 {
  font-weight: bold;
  font-size: 2.5em;
  color: #0098db;
  margin-top: 0px; }

.process-wrapper .arrow-next {
  color: #00c7b2; }

#inventory-table {
  background: transparent;
  padding: 20px;
  font-size: 0.8em; }
  #inventory-table tr.light {
    background: transparent; }
  #inventory-table tr.dark {
    background: #E4E9EB; }
  #inventory-table th {
    font-family: "Merriweather",Helvetica, Arial, sans-serif; }

.list-group-item.active {
  background: #0098db; }

.title-intro {
  background: transparent;
  color: black;
  position: relative;
  top: 110px; }

.add-dataset {
  margin-top: 30px; }

#inventory .panel-heading {
  background-image: url("http://take.ms/K0n7c"); }

#opensd .panel-heading {
  background-image: url("http://take.ms/GK1Gk"); }

#opengov .panel-heading {
  background-image: url("http://take.ms/WjYwC"); }

#sdmaps .panel-heading {
  background-image: url("http://take.ms/5AThk"); }

#odpolicy .panel-heading {
  background-image: url("http://mrm-screen.s3.amazonaws.com/14324-illustration-of-a-book-pv.png"); }

#councilupdate .panel-heading {
  background-image: url("http://take.ms/FJnAS"); }

#pasite .panel-body {
  padding-top: 13px; }

#pasite .panel-heading {
  background-image: url("http://take.ms/bevC1"); }

.fp-panel a, a:hover, a:visited {
  text-decoration: none; }

.fp-panel .panel-heading {
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  height: 250px;
  border: 0px;
  background-color: white;
  padding: 0px; }

.fp-panel .panel-body {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Merriweather",Helvetica, Arial, sans-serif;
  padding: 5px;
  padding-left: 10px;
  position: relative;
  top: 125px;
  width: 100%;
  border: 0px;
  height: 125px;
  padding-top: 25px; }

.page-container {
  margin-top: 34px; }

.process-wrapper {
  padding: 10px 0 10px 0; }

.icon-front-center {
  color: white; }

.icon-circle-thin {
  color: #0098db; }

.icon-circle {
  color: #21282d; }

#pre-footer-bar {
  position: relative;
  z-index: 9999999;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  padding-bottom: 90px; }

.fourbox-box {
  background: transparent;
  text-align: left;
  padding: 30px;
  overflow: hidden;
  font-family: "Open Sans",Helvetica, Arial, sans-serif;
  border: 1px solid #cccccc;
  height: 400px; }

.fourbox-last {
  border-right: 0px; }

.fourbox-box h3 {
  margin-top: 0px; }

.inner-box h3 {
  margin-top: 0px;
  font-family: "Open Sans",Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #3b3b3b; }

.inner-box h4 {
  font-family: "Open Sans",Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 0px; }

.inner-box {
  text-align: left; }

.outer-box {
  background: transparent;
  font-family: "Open Sans",Helvetica, Arial, sans-serif; }

.cta-sub {
  font-size: 15px; }

.top-row-box {
  height: 150px;
  border-right: 1px solid #cccccc; }

#datasd-logo-box {
  background: #0098db;
  /*margin-bottom:10px;
    text-align: center;
    padding-top:0px;
    padding-bottom:10px;*/ }

#datasd-logo-container {
  margin-top: 20px;
  margin-left: 15px; }

#contact-bubble {
  margin-left: 30px;
  margin-top: 10px; }

#mc_embed_signup h3 {
  margin-top: 20px; }

#mc_embed_signup .inner-box {
  background: #0098db;
  height: 143px; }

#cta-bottom-row {
  height: 275px; }
  #cta-bottom-row .inner-box {
    border-right: 1px solid white; }

h4.cta a {
  font-weight: bold;
  color: #00bbbc; }

h4.bottom-box-head {
  color: white; }

#contact-bubble .icon-circle-thin {
  color: white !important; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  #mc_embed_signup_box h4.bottom-box-head {
    padding-top: 10px; } }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .data-story-preview-container {
    margin-bottom: 0px; }
  .data-stories-rail {
    margin-bottom: 60px; }
  .main-footer-container .right-footer-col {
    border-right: 1px dotted #747678; }
  .main-footer-container ul.link-list {
    text-align: right; }
  .main-footer-container ul.social-link-list {
    text-align: left; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 767px) {
  .sd-navbar-top.navbar-default .navbar-header {
    height: 0px;
    float: right; }
  .data-story-preview-container .preview-text h5 {
    font-size: 0.9em; }
  .data-story-preview-container .preview-text .preview-desc {
    font-size: 0.9em; }
  .article-thumb {
    max-width: 250px;
    float: right;
    padding-left: 20px;
    padding-bottom: 20px; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .page.container .page-content {
    padding: 50px; }
  #datasd-logo-container {
    margin-top: -2px; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #header-image.small {
    background-position-x: center;
    background-position-y: -170px;
    background-size: cover; }
  #header-image {
    background-position-x: center;
    background-position-y: 0px; } }

@media (max-width: 767px) {
  .navbar-header {
    float: none; }
  .navbar-left, .navbar-right {
    float: none !important; }
  .navbar-toggle {
    display: block; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .collapse.in {
    display: block !important; } }
